[2016-11-02 15:32] JdeH commented on #145
Yes, for speed and compactness sake we should

[2016-11-02 15:34] JdeH commented on #116
I've reopened, since it is important for acceptance of Transcrypt.

[2016-11-02 15:37] AXGKl commented on #146
nice !

[2016-11-02 15:52] JdeH commented on #145
Correction: oneliner would mean calling key (a) and key (b) twice, could be expensive. So will cache outcomes of key func.

[2016-11-02 21:43] AXGKl commented on #128
whew, finally: managed to get a config parser module with really a lot of 'unusual' python, writting w/o Transcrypt in mind to work *completely*. In Py3, Py2 and Transcrypt, same result, a  nice nested tree of classes ready to be producing nice informational trees, for the app but also the human.

=> the __new__ is working like a charm, probs where all elsewhere.

Fantastic feature and thanks agai

[2016-11-02 22:54] GULPF opened #147 "str function should return a string primitive, not 'new String()'"
Currently, the str function looks like this:
[code]

But it would be preferable to return `String(stringable)` (without 'new'). The class-like wrappers in JS (String, Number, Boolean) behaves weirdly in a lot of cases and should be avoided. F.ex, the current behavior results in situations like this one:

[code]

[2016-11-03 12:29] neriusmika opened #148 "items in dict"
[code]
such code now returns only `items2: 4,5,6` because key 'items' is conflicting with method items, but in CPython both keys are returned. Is there any solution to this problem?

[2016-11-03 12:51] AXGKl opened #149 "transpile docstrings on demand"
for my config parser I'm patching the compiler to get the docstrings, relevant for the user. Maybe worth a switch and/or pragma in transcrypt?

[code]

[2016-11-03 13:34] GULPF opened #150 "the 'in' operator"
The 'in' operator for dictionaries compiles into really slow code. Here's how the relevant function looks:
[code]

`py_keys` iterates all keys in the container and filters some out, which means it has time complexity O(n). Additionally, `indexOf` also has to iterate the elements until it finds the correct one. Instead, `container.hasOwnProperty`([mdn](https://developer.mozilla.org/en-US/docs/Web/J

[2016-11-03 14:40] neriusmika opened #151 "problem with __include__ and special character inside js"
Hi, I tried to encapsulate redux, but it failed to load javascript file with `__include__`. The problem is that inside js file is “ character (http://www.codetable.net/decimal/8220). You can try to include https://cdnjs.cloudflare.com/ajax/libs/redux/3.6.0/redux.js

[2016-11-03 16:10] AXGKl commented on #151
Hi,

I honestly don't understand "failed to load javascript file with __include__"

maybe this helps, thats how I wrapped redux within Transcrypt, forget the other stuff but redux worked like that, incl. the browser extension:

https://github.com/axiros/misc_transcrypt/blob/master/doc/kendo/ch6_reactive_redux.md

source:

https://github.com/axiros/misc_transcrypt/blob/master/doc/kendo/src/ch6/pyke

[2016-11-03 16:28] neriusmika commented on #151
But I want to encapsulate it, like fabric.js in transcrypt (without loading it via `<script src=...>`). Like this:
[code]
And later I can use:
[code]
But the problem is that transcrypt compilation fails, when inside javascript file is that special character. You can even put that single character in empty file and it fails to compile.

[2016-11-03 16:33] neriusmika commented on #151
And after removing that single character from redux.js (it's in comments anyway) it works correctly.

[2016-11-03 18:42] neriusmika commented on #151
Ok, I found that the cause of the error is encoding. In python 3 function `open` uses locale encoding, so I'm getting UnicodeDecodeError. Changing the line in compilers include function to `return open (filePath, encoding='utf-8') .read ()` fixes that problem.

[2016-11-03 19:49] AXGKl commented on #151
@neriusmika : nice finding (and @JdeH : an important fix).

sidenote: Can't tell you how much I hate the unicode sandwhich idea of Py3...  Py2 with defaultencoding utf-8 was paradise.

[2016-11-04 09:30] punkdit opened #152 "Simple html5 canvas example"
Trying to get a simple html5 canvas example to work.
I tried putting this in example.html:

[code]

and then this in example.py:

[code]

It compile fine to js, and the web browser shows a canvas, but it's empty.
Any ideas?

The pong demo is nice, but it would be good to see something simpler.

EDIT: the mistake is caused by a stray comma in the first line.

[2016-11-04 09:45] neriusmika commented on #152
For me it's working and text is visible on the canvas
index.html:
[code]
geometry.py:
[code]

[2016-11-04 10:04] JdeH commented on #145
Correction 2:

For a stable sort, the case key (a) == key (b) turns out to be irrelevant.
Modifying the compare function to:

lambda a, b: 1 if key (a) > key (b) else -1

results in a stable multicolumn sort with 5000 rows, 10 columns and words of 10 chars.

I may have overlooked something, so please correct me if I'm wrong.
The fix will be in the next commit.

[2016-11-04 10:41] neriusmika commented on #145
Yes, probably it doesn't matter if comparables are equal. Maybe internally it takes more steps, but final sorting result will be the same.

[2016-11-04 10:42] JdeH commented on #152
@punkdit

The pong example works via fabric.js just to demo the lib, which is indeed overkill.
The most beautiful graphics are achieved by SVG, which is used in the turtle module, as demoed at:

http://www.transcrypt.org/live/turtle_site/turtle_site.html

Select the 'mandala' example to see what can be achieved.
The source of the turtle module shows how to use SVG, its at:

https://github.com/QQui

[2016-11-04 10:42] JdeH commented on #152
@punkdit

The pong example works via fabric.js just to demo the lib, which is indeed overkill.
The most beautiful graphics are achieved by SVG, which is used in the turtle module, as demoed at:

http://www.transcrypt.org/live/turtle_site/turtle_site.html

Select the 'mandala' example to see what can be achieved.
The source of the turtle module shows how to use SVG, its at:

https://github.com/QQui

[2016-11-04 10:42] JdeH commented on #152
@punkdit

The pong example works via fabric.js just to demo the lib, which is indeed overkill.
The most beautiful graphics are achieved by SVG, which is used in the turtle module, as demoed at:

http://www.transcrypt.org/live/turtle_site/turtle_site.html

Select the 'mandala' example to see what can be achieved.
The source of the turtle module shows how to use SVG, its at:

https://github.com/QQui

[2016-11-04 10:42] JdeH commented on #152
@punkdit

The pong example works via fabric.js just to demo the lib, which is indeed overkill.
The most beautiful graphics are achieved by SVG, which is used in the turtle module, as demoed at:

http://www.transcrypt.org/live/turtle_site/turtle_site.html

Select the 'mandala' example to see what can be achieved.
The source of the turtle module shows how to use SVG, its at:

https://github.com/QQui

[2016-11-04 12:36] artyprog opened #153 "Problem with NodeJS"
Hello, i am back to Transcrypt :-)

I have a script which simply do a console.log
I have compiled it with

   `transcrypt  -nomin -p .none  t.py `

I get the following error
[code]

Regards

[2016-11-04 12:50] AXGKl commented on #89
@JdeH: Strictly personal opinion follows:

Thinking about not "only" __getattr__ but also `@property`, which allows to specify attribute access w/o the need to change all callers.
Mr. "there must be a better way" Hettinger expains it nicely: https://youtu.be/HTLu2DFOdTg?t=2347, so there will be request to have that as well, for good reasons. Also building in __getattr__ later w/o having to dig thr

[2016-11-04 13:00] JdeH commented on #144
Thanks for the careful analysis.
Modifications have made to both __builtin__.js and compiler.py, amounting to your suggested solution.

KR
J

[2016-11-04 13:00] AXGKl commented on #153
hi,

does run here:

[code]

=> whats your versions of transcrypt and node?

[2016-11-04 13:01] #144 closed

[2016-11-04 13:03] AXGKl commented on #153
maybe its the `-nomin`, should be `--nomin`

[2016-11-04 13:05] JdeH commented on #145
Fix has been committed, not yet in pip-installable.
For now have taken the gamble that the performance benefit of the simple compare function outweights possible extra iterations in sorting.

KR
J

[2016-11-04 13:05] #145 closed

[2016-11-04 13:07] JdeH commented on #153
Awaiting conclusion / further info

[2016-11-04 13:18] JdeH commented on #147
So your proposal is to make it:

[code]

[2016-11-04 13:20] JdeH commented on #151
Great, thanks!

[2016-11-04 13:28] JdeH commented on #141
I'll reopen #33 as 'under consideration'

[2016-11-04 13:28] #141 closed

[2016-11-04 13:30] JdeH commented on #33
Not sure
On one hand: handy
On the other: a bit irregular

[2016-11-04 13:31] artyprog commented on #153
Hy,

Thanks, I still have the problem...

I am using node 4.2.6
Ubuntu hosted by Windows via VirtualPC

Regards

[2016-11-04 13:31] artyprog commented on #153
I will upgrade to the latest of Node...

[2016-11-04 13:38] AXGKl commented on #33
the business man/devil in me says: lets do it, [-1], [-2] ... is what users expect and `[-1:][0]` is not what I wanted to put into a marketing document ;-)

the developer/angel in me says: No way to deliver [-1] correctly but not a=-1, [a]

funny journey all that....

[2016-11-04 13:46] JdeH commented on #33
I think striking sensible compromises is the most difficult part of any design.
In fact I believe that IS design.

[2016-11-04 13:48] JdeH commented on #151
Commited the proposed WITHOUT ANY TESTING.
Could you confirm that the problem is solved.
(Or that everything has blown up...)

[2016-11-04 13:52] neriusmika commented on #151
Yes, with that encoding parameter compiler works without errors. Also tested last fixes with sorting and comprehensions with overloading. Everything is ok. Thank you.

[2016-11-04 13:52] JdeH commented on #151
Thanks for the feedback!

[2016-11-04 13:53] #151 closed

[2016-11-04 13:56] AXGKl commented on #33
Guess you're right.

just see that the Rubies also have a Transcrypt: Opal

They seem to not care about perf and turn every array index lookup into a function.

<img width="903" alt="screen shot 2016-11-04 at 14 49 02" src="https://cloud.githubusercontent.com/assets/9989548/20007870/7c71602e-a29e-11e6-97b2-01a0d8cb3c73.png">

[2016-11-04 14:00] JdeH commented on #33
I've never used Ruby, so I've no idea how handy it is.
But I know quite some system adminstrators use it.

[2016-11-04 14:05] AXGKl commented on #33
just interesting to see how they transpile into js. Its definitely a function call, no matter the content of the square brackets.

[2016-11-04 14:07] artyprog commented on #153
In fact the problem is not Node, i still have the problem without any options
Here the end of the transcrypted file

[code]

[2016-11-04 14:20] JdeH commented on #148
Cannot be completely solved without an alternative compilation pragma to use Map's rather than JS objects for a dict. But this makes interop with JS libs much more complicated and has many other undesirable consequences, so it will indeed at best be an option. Will postpone it for now, as the effort is large compared to the benefits.

Will make clashes less likely by using py_items alias rather th

[2016-11-04 14:23] JdeH commented on #33
Looks like extraterrestrial to me.
But to martians it will no doubt look ok...

[2016-11-04 14:25] JdeH commented on #153
Since you said it's only small, could you give the  complete Python source to experiment with?

[2016-11-04 14:30] neriusmika commented on #152
That's not my example, I just cleaned the code and it worked :) Btw now I'm writting some riot/react clone, but based on snabbdom vdom. It's working great already, but code is messy while still testing various things. When I finish, you can add it to examples too.

Some example components:
[code]
[code]
It now supports automatic and manual components mounting. Rendering is more powerful than riot

[2016-11-04 14:39] JdeH commented on #152
The explosion of JS tools, libs, vdoms etc. is overwhelming.
Glad you're making this demo, since I've never used snabbdom,
Will add it to demos if ready.

[2016-11-04 14:40] neriusmika commented on #148
It's ok for me, just accidentally used such name. I can change it. But it would be good to mention somewhere in documentation, that some names are reserved and cannot be used.

[2016-11-04 14:44] JdeH commented on #148
Indeed.
So I should make a py_items alias for the function, and make clear in the docs that some keys starting with py_ cannot be used.

[2016-11-04 15:06] AXGKl commented on #153
- `window['main']` => you *must* use `-p .none`  for node
-  `alert ('Hello from Python')` => can't work on the server. Pls. use `console.log` for tests

cheers.
G.

[2016-11-04 15:09] JdeH commented on #131
Postponed until at least supported by Google Closure, and preferably also by a significant part of the newest browser versions.

[2016-11-04 15:11] AXGKl commented on #148
there are a few other entries on the forbidden list as well, I was recently bitten by `.type` :

[code]
from

[code]

I know its not a clever choice to use `.type` but definitely worth an entry on the reserved names and attrs list ;-)

[2016-11-04 15:23] AXGKl commented on #152
@neriusmika : That is fantastic we need a default renderer, to replace riot or react.

questions:  what is e and t in:

[code]

btw, if you put write "```python" then we'd have syntax hilite, makes it better on the eyes ;-)

[2016-11-04 15:31] neriusmika commented on #152
It's a module, I import it like that: import elementmaker as e and here is it's content:

[code]

of course it's not finished. Actually it's a wrapper over snabbdom h function, but much more simpler, so now I can render not only from bottom to top, but from top to bottom too (using overloaded <= operator)

[2016-11-04 15:40] neriusmika commented on #152
I created it because I hate jsx and riot templates :) Btw it would be good to render like that:

[code]

but still not tried to overide `__enter__` `__exit__` in transcrypt, don't know is it possible now.

[2016-11-04 15:59] neriusmika commented on #152
And that "t" is function to create and mount or render (if already mounted) child component. If you want I can send the whole project. Like I said it's in testing mode so complete mess, but it works. Now I am trying  to implement redux and some other things.

[2016-11-04 16:02] JdeH commented on #129
This issue is postponed since Google Closure currently can't prettify without leaving out the comments, thus making the code less readable...
Will post a feature request.

[2016-11-04 16:15] JdeH commented on #148
Indeed, I'll add it.

[2016-11-04 16:20] AXGKl commented on #152
Hi, yes would be interesting. gk at axiros.com is my email.

I'm working a similar thing, component trees in transcrypt comming from riot - but I'm coming more from the high level side, working my way down to the phsycial DOM and I thought up to now I'll use a library for the actual rendering of redux state into html. Fall a bit in love with kendoui allthough its completely banging the DOM directl

[2016-11-04 16:35] neriusmika commented on #152
Thanks, I actually started from your riot examples, but had some problems (in riot itself), so decided to make from scratch. Only taken snabbdom as vdom (it's used by vue js, cycle js) and it's faster than riot or react, is clean and have hooks for insert (vnode to dom), remove etc. But your examples was very helpful to me.

[2016-11-04 17:19] JdeH commented on #152
@neriusmika

__enter__ and __exit__ are not (yet) supported.

[2016-11-04 17:48] AXGKl commented on #152
@neriusmika

the riot example I should clean up a little, got a little stuffed with = realizing more and more the possibilities of transcrypt - ending with the conclusion that I don't want to use Riot at all any more, which is funny.

Snabbdom I also heard good things, this is an interesting one about riot / react and also snabbdom: https://github.com/riot/riot/issues/484

[2016-11-04 17:50] JdeH commented on #89
A quick reaction only on @property:

What exactly does this add compared to the properties as done in the property testlet at:

http://sterlicht.alwaysdata.net/transcrypt.org/docs/html/supported_constructs.html#properties

I've only skimmed throug this issue, since I  am currently a bit flooded in work, but is there something, apart from minor syntactic convenience that @property can do and the sy

[2016-11-04 18:07] artyprog commented on #153
Thank you all,

I have tried directly on my window host, and all is fine.
Jacques you can close the ticket, thank's again for your welcome :-)

Regards

[2016-11-04 18:09] #153 closed

[2016-11-04 18:16] neriusmika commented on #152
The same for me. I looked inside riot code, they use slow innerhtml. I tried to use innerhtml myself and it was many times slower than creating nodes directly and patch with snabbdom.

P.S. I read that post in your link several days ago :)
Did you receive my example?

[2016-11-04 18:47] AXGKl commented on #89
Hi Jacques,

simple answer regarding @property:
I completely forgot that js property descriptions are already in (allthough I was using them a month ago, memory wear out, overloaded my self as well).

I beg a pardon, you already have it all, already.

So, ... thats the way how YOU wanted to handle the superclass change propagation of my other ticket as well, you intended the necessary pragma anywa

[2016-11-04 19:14] AXGKl commented on #152
:-)

e-mail contact established

@JdeH: this one you can close, imho.

[2016-11-04 19:55] AXGKl commented on #152
@neriusmika:

I'm old enough to not be ashamed to ask brutally noobish questions:

What is this doing, not understood how this can generate a table body tag:

[code]

[2016-11-04 19:58] AXGKl commented on #152
lol, got it.  `def __le__` in HTMLTag and the pragma oopov

hehe, this is cool, Python's elegance was not enough, you create your own DSL on top of it all ;-)

[2016-11-04 20:03] neriusmika commented on #152
I'm old enough too :)
<= is overloaded, it pushes inside other elements, strings or snabbdom vnodes and stores them in "children" attribute, parentheses are needed, because first I need to push td inside tr (because overloading does not change order of operations). And when I'm done with all elements render function must return snabbdom vnode. There is such vnode property in HtmlTag if you looked

[2016-11-04 20:05] neriusmika commented on #152
Yes, and as I mentioned before, extending it with "with" would be even more elegant.

[2016-11-04 20:19] neriusmika commented on #152
Actually I want to create readable and easy rendering without involving templates. Of course jinja equivalent would be great, but parsing text will always be slower and not so powerful as direct elements creation with python code.

[2016-11-04 23:34] GULPF commented on #147
Yes, that's what I mean. `String(stringable)` doesn't actually return a wrapped string, it returns a primitive. The same is true for the other wrappers, e.g `new Boolean(1)` will return a wrapped boolean, while `Boolean(1)` will return a primitive.

Of course, it's also possible to use operators for casting to primitives, like `+ ""` for strings or `!!` for booleans, both ways are fine as long as

[2016-11-05 08:14] JdeH commented on #147
OK, I see. I thought I needed a wrapped string to be able to used the extra Python methods and attributes that were added to the String prototype, but from

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String

it becomes apparent  JavaScript will automatically wrap a primitive string whenever a call of a method defined on it's prototype is called. And I guess wo

[2016-11-05 08:21] punkdit commented on #152
Thankyou @neriusmika @JdeH for your help. Looks like this example is working now. Btw, I pulled it straight off this website: http://corehtml5canvas.com/code-live/

Going forward I am hoping to build some interactive animations / simulations / games. Normally I use pycairo and pygame for this, but it would be great to get this live on a webpage instead. What do people recommend? I like to keep to

[2016-11-05 08:33] neriusmika commented on #152
If you want animations / games, you can use webgl. For example look at http://www.pixijs.com/

[2016-11-05 08:43] JdeH commented on #152
A very personal, subjective, possibly wicked advice:

1. My impression is that SVG graphically is superior to the canvas, although probably less suitable for some types of games. But I'd certainly investigate, depending on what you want to make.

2. I've tried both fabric.js (used in the pong demo) and d3.js (used in the d3.js demo). Both these libraries are large and require significant effort in

[2016-11-05 09:23] JdeH opened #154 "Possible summer time -> winter time problem in time module"
Seems that with the switch from daylight savings time to astronomical time something in time module fell over, autotest gives errors. May also have other causes (browser timezone?).

[2016-11-05 09:36] JdeH commented on #150
Quite right.
Fixed and autotested, works fine.
I assume it will also pass the shipment test, so it'll be in the next commit.

One nitpicky question fo my own education: This is a significant performance improvement. Still I wonder how hasOwnProperty can be O (1). Is it purely hash based? And do you assume the number of keys c.q. attribs is small enough not to cause any collisions? O (1) for ANY nr

[2016-11-05 09:47] JdeH commented on #121
This issue "hangs". @osman-masood and @fdv1 I can't help you since I've not enough knowledge of react. Does any of this require an extension or modification Transcrypt itself? If so, which modification exactly. Or does it require someone to make a library for it, e.g. to replace the use of JSX? If so can any of you do that?

[2016-11-05 10:29] #152 closed

[2016-11-05 10:32] punkdit opened #155 "string interpolation"
Code such as
[code]

seems to produce the string "NaN".

Is string interpolation trying to do modulo arithmetic?

[2016-11-05 10:38] GULPF commented on #150
Like you say, because of hash collisions it won't be exactly O(1), but since there are generally few collisions per key (assuming the hash map is resized properly as it grows), it doesn't result in much extra work. See https://en.wikipedia.org/wiki/Hash_table#Collision_resolution

[2016-11-05 11:10] GULPF commented on #150
I now noticed that in the else case of \_\_in\_\_, JavaScripts `in` is used if there is no indexOf:
[code]
This will also give some strange behavior. It means that

1. Transcrypts `in` will work with non-iterable Python classes (which is an exception in python/cpython)
2. Transcrypts `in` will give results inconsistent with Pythons `in` for non-dict objects without `indexOf` (e.g objects sent from

[2016-11-05 12:33] JdeH commented on #150
There has been a lot of discussion about 'in' as part of issue #96. Python itself doesn't generally support it, unless the object has an overloaded __contains__ operator, which is not (yet) supported in Transcrypt. But from the opinions there I gathered that for JS objects, Transcrypts 'in' should behave like JS 'in', because that is what people expect when converting JS code containing 'in' to Tr

[2016-11-05 12:38] JdeH commented on #155
% for string formatting is not supported.
<string>.format (...) is the way to do it with Transcrypt.
This is part of the "lean and mean" strategy.
'format' is flexible enough to cover all cases,
although the 'string formatting mini language' isn't supported.

Seems Python 3.6 has some innovations on the string formatting front.
Haven't looked into them yet but probably they will be partially suppo

[2016-11-05 15:10] GULPF commented on #150
After skimming through the arguments in #96, it seems reasonable. I still think it would be preferable to use `hasOwnProperty` instead of `in` though, since it's closer to the python behavior. It's just inconsistent to have Transcrypts `in` check the prototype in some cases, but not for objects with `.indexOf` or dictionaries.

An alternative would be to use JS `in` for all cases, which would also

[2016-11-05 17:11] AXGKl commented on #143
see latest PR.

it is still not complete but is covering the 95% I guess.

[2016-11-05 17:12] AXGKl commented on #154
See https://github.com/QQuick/Transcrypt/pull/156

[2016-11-05 18:33] JdeH commented on #149
Done, is in 3.5.235

[2016-11-05 18:33] #149 closed

[2016-11-05 18:33] JdeH commented on #147
Done, is in 3.5.235

[2016-11-05 18:33] #147 closed

[2016-11-05 21:39] AXGKl commented on #150
hi, thanks for checking back with us.
I'm happy that @GULPF is pragmatic about §1 (In the beginning I was religious about absolute CPython compilance but after a while the attitude changes a bit as explained in that longish  #96).

Regarding `hasOwnProperty`: I did not know it but it seems its exactly what people would expect (plus way faster). => perfect. To be precise not perfect because of [thi

[2016-11-06 00:36] AXGKl opened #158 "`foo.type` is not possible. Workaround: `foo['type']`"
Hi,

since you idle too much, I thought I'll create an issue to keep you entertained :-)

(adding @neriusmika since he is also dealing with redux.)

----

I already mentioned it, `.type` is currently causing trouble when used as a class attribute - but its more severe - the current version of transcrypt is really preventing **any** dot access of it.

That is nasty with a lib like Redux, which want

[2016-11-06 02:56] punkdit commented on #155
Is there somewhere where these limitations are documented? Or is it left to the hapless programmer to find out which part of the language you decided to implement?

[2016-11-06 09:27] JdeH commented on #155
Not yet. Transcrypt started out as a "Small Sane Subset" transpiler (I believe it still modestly reports that when you run it). The autotest suite served as an overview of what it could do:

http://sterlicht.alwaysdata.net/transcrypt.org/docs/html/supported_constructs.html

and what wasn't there, well, you couldn't. In the beginning I held the conviction that it would remain a small subset, to be

[2016-11-06 09:33] AXGKl commented on #159
My 2 cents: Help us users help ourselves better to avoid you = hitting a burn out wall, with the success of transcrypt.

2 Levels:

1. **workaround** in pure user space python. Examples: `def mro()` to work around missing `mro` method.  `.format`...

2.  the compiler / builtins combo could get customization hooks / allow subclassing. Explain how. To allow advanced users to add stuff by their own.

[2016-11-06 09:39] JdeH opened #159 "Add a 'Differences with CPython' or 'Main Limitations' chapter."
Only limitatively summing up and showing all features in the testlets isn't enough anymore. There has to be a chapter explicitly mentioning the main differences: Limitations (most needed, exec and eval, string formatting, introspection, special methods), subtle differences (modules and packages, global versus nonlocal), extra's (pragma's like ifdef elif endif, optional JS style keys, ways to coope

[2016-11-06 11:42] JdeH commented on #159
Many good idea's!  I am currently thinking a lot about the future of TS and about my own balance between managing and coding.

- There's now so much useful feedback, bugs, enhancements, general hints, that I want to devote a significant part of my time to making those land in fruitful soil. One important point is communication: explaining why things are in or out, why certain choices were made, wh

[2016-11-06 11:58] JdeH commented on #158
Thanks for the workaround. Didn't know _type_ was so important to some libs. In due time will devote some time to this problem, don't know what that will yield, though.

Come to think of it, have you attempted to use:

http://sterlicht.alwaysdata.net/transcrypt.org/docs/html/special_facilities.html#pragma-alias

locally?

No idea if it solves this, just a hunch...

[2016-11-06 13:30] JdeH opened #160 "Sphinx _build dir should be Git ignored."
The prebuilt docs cause too many diffs, making diff effectively unusable.

So the _build dir will be excluded from the repo. This means:

- People simply obtaining Transcrypt via `pip install` will still have them locally
- People directly downloading TS from GitHub will only have the sources, but they can read them on-line
from:

http://sterlicht.alwaysdata.net/transcrypt.org/docs/html/

As an al

[2016-11-06 16:31] JdeH commented on #143
Problem with es6 and Closure. Not yet clear what...

[2016-11-06 16:52] AXGKl commented on #159
@JdeH : Relax on this one, its on "us", the users. Pulling up platforms and such to accompany the tool. Lets see what we reach.

[2016-11-06 17:01] AXGKl commented on #143
oh, so the autotester has to be run with different js compile switches? which ones do you use normally?

just tried:

/Users/klessinger/GitHub/AXGKl\:Transcrypt/transcrypt/run_transcrypt -bn -e 6 autotest.py

works as well, same result than cpython. can I have your output ?

[2016-11-06 17:12] JdeH commented on #143
The switches are those used in shipment_test.py.
From the head -e 6 and -f. (apply the -e 6 switch also in combi with the -r switch)
Also the .js and the .min.js files are tested.

[2016-11-06 17:24] JdeH commented on #159
OK, good to hear. And curious what comes out.

[2016-11-06 17:28] JdeH commented on #154
Fixed by @AXGKl and tested.

[2016-11-06 17:28] #154 closed

[2016-11-06 17:28] AXGKl commented on #143
understood regarding the test procedure:

- e 5 and -e 6
- -f and no -f
- min and normal

-> 8 combinations.

just pulling the jre, never use min I must admin...

----

Another thing I must admit: Testing isinstance I deleted all tests except classes - since I have a failure: Uncaught ReferenceError: complex is not defined(…) , var a = __add__ (234, complex (0, 3.0));  , thought the tests are curr

[2016-11-06 17:34] JdeH commented on #143
Autotest also requires -c and -da switch.
But if you run the shipment-test its all done for you: python3.5 shipment_test.py -d -c -f in its most complete form (or on windows python35 I believe).
It will even open browser windows for you.
It requires node.js to be installed, because some tests are about node.

[2016-11-06 18:22] JdeH commented on #143
Don't invest too much trouble in repairing isinstance, think I'm close to a solution (ever optimistic...)

[2016-11-06 22:41] AXGKl commented on #124
quick one, related to positioning of T:

<img width="360" alt="screen shot 2016-11-06 at 23 33 19" src="https://cloud.githubusercontent.com/assets/9989548/20042390/82cab4b6-a479-11e6-9c70-0fa42fd1daf0.png">

shouldn't the slogan be: "Transcrypt. Python **For** The Browser"?

No need to write a lot of justification IF you thought about it long and decided you want it like it is, no problem. Saying

[2016-11-06 22:48] AXGKl commented on #158
I was not smart enough, to understand that its solvable by an alias, its working... you really thought about everything, all necessary indirections in (but not more).

[2016-11-06 22:48] #158 closed

[2016-11-07 06:29] JdeH commented on #158
Glad that it works. There can always be things I overlooked.

[2016-11-07 07:35] JdeH commented on #124
It was done deliberately, focusing on the users Python programs running in the browser, rather than on our tool.

Q: Is there any way I can run my beautiful Python programs in the browser?
A: Yes, you can (using a tool called Transcrypt).

[2016-11-07 09:45] JdeH commented on #143
Seems to work now. Will be in next commit. I've used your autotest, which was quite effective.

One improvement that I directly took from your sourcecode, is the fact that classinfo can also be a tuple, rather than a single class. Had never noticed that.

Another  improvement that was in your source code, is to account for the fact that isinstance (True, int) is True.

Another piece of the puzzle

[2016-11-07 10:04] JdeH commented on #150
@AXGKI @daboross: I then assume that you both had similar use cases. It is indeed important to change this now, before to much user code depends upon it. @GULPF: If it passes the shipment test it will be in the next commit and sub-release.

[2016-11-07 10:18] #155 closed

[2016-11-07 10:29] JdeH commented on #137
I'll close this, since I don't want to fuel the expectation that this will be implemented anytime soon.
As said, it's appreciated that in the JS world hot reloading is valued.
But, balancing costs and benefits, for TS I currently consider this a side issue.

KR
J

[2016-11-07 10:29] #137 closed

[2016-11-07 10:35] JdeH commented on #121
I'll close this for now, since it seems to linger.
If anyone starts working on this, feel free to reopen.

[2016-11-07 10:35] #121 closed

[2016-11-07 11:48] AXGKl commented on #143
and again we witness my ability to judge time and effort required : "can be assigned to me (*low prio*, **simple**)".

travis I also thought costs me an hour or so. argh..

[2016-11-07 12:08] JdeH commented on #143
My experience is that effort estimates only work if I'm doing the same trick over and over again.
With anything new its completely uncertain.
And the more 3rd party products you depend upon, the more uncertain it gets.

So if you say you cannot estimate efforts, you're in fact telling me:
I am not the person who sells the promises, but the person who in the end has to fulfill them.

[2016-11-07 12:09] #160 closed

[2016-11-07 12:09] #150 closed

[2016-11-07 12:09] #143 closed

[2016-11-07 12:10] AXGKl commented on #143
you are one year older: did you find a way to explain your wife why you picked the second camp ;-) ?

[2016-11-07 12:15] JdeH commented on #143
Well, she has been working in IT too, from programmer to project manager for I think some 20 years. But rightnow she teaches classical languages. However, she still understands...

[2016-11-07 12:23] AXGKl commented on #143
tell her dankewell from munich ;-)

[2016-11-07 13:31] punkdit commented on #155
Hi Jaques, thankyou for your thoughtful comments. I'm not sure I understand your perspective entirely, but I just wanted to say that I am enjoying using Transcrypt very much. I am taking a philosophy of "tread lightly" and so hopefully don't get into too much trouble.

Many years ago I was involved in the pypy project (tangentially) and in particular got quite excited about their compiled version

[2016-11-07 13:48] JdeH commented on #155
Glad you're having fun with it, I think that's important, at least for me it is.
And of course you're welcome to contribute.

[2016-11-07 18:12] osman-masood commented on #121
@JdeH I was working on a "transpiler" from JSX to JS, which would work separately from Transcrypt (at least initially), but never finished.

[2016-11-07 18:14] JdeH commented on #121
That happens...
So I guess it's ok this issue is closed now?
Hope you keep on using Transcrypt, though...

Kind regards
Jacques

[2016-11-07 18:21] osman-masood commented on #121
@JdeH Yep! Closed makes sense for now. Thanks.

[2016-11-08 21:48] fdv1 commented on #121
Thank you very much. 
I must say that I have been coding in JS since then (I needed to learn it anyway). 
I'll give another go soon...
cheers,Francois
      From: Osman <notifications@github.com>
 To: QQuick/Transcrypt <Transcrypt@noreply.github.com>
Cc: Francois du Vignaud <francois_du_vignaud@yahoo.com>; Mention <mention@noreply.github.com>
 Sent: Monday, 7 November 2016, 18:21
 Subject: Re: [QQ

[2016-11-10 09:45] #159 closed

[2016-11-10 11:26] JdeH commented on #126
Did `sudo dpkg-reconfigure tzdata` and then change timezone to CEST, which indeed solved the problem.
Seems that VMWare player mixes up host time (Windows, CEST) and guest time (Linux, was PDT).
So Python uses one and Chrome uses the other.

[2016-11-10 11:41] #126 closed

[2016-11-12 15:42] GULPF opened #169 "Add support for float('inf') and float('-inf')"
Would be a nice addition since `Infinity` gets transpiled into `py_Infinity`

[2016-11-12 20:37] JdeH commented on #169
Infinity is translated to py_Infinity so that this identifier can be used without special meaning, e..g. as the name of a class.

Properly translating float ('inf') and float ('inf') would require some special purpose code in the compiler, since depending on the context (a call to float), 'inf' would have a special meaning. My first impression is that this should be doable.

From first sight (didn

[2016-11-13 13:18] JdeH commented on #169
Done, added to autotest, committed, uploaded to PyPi: v3.5.238

[2016-11-13 13:18] #169 closed

[2016-11-13 13:45] JdeH commented on #133
Metaclasses and __new__ are in now, but maybe that doesn't solve all issues you mentioned.
Still problems?

[2016-11-13 15:12] artyprog opened #170 "Compile from Json.stringyfy...."
Hello Jacques,

What code did you use to compile Python code from ace editor ?
I have setup a websocket server, I can send the code from ace editor.
I am searching the best way to compile the code

Eventualy could  I use your compile servcice ?

Regards

Salvatore

[2016-11-13 17:58] JdeH commented on #170
Hi Salvatore,

Do yo mean someone editing code in the browser, uploading it for compilation.  downloading the result and running it?

As you may have noted the turtle demo is set up like that:

http://www.transcrypt.org/live/turtle_site/turtle_site.html

Here's the relevant part of the server code:

[code]

And here's the relevant part of the client code:

[code]

As you can see the client code is

[2016-11-13 19:20] artyprog commented on #170
Thank you very much Jacques
The server code you posted is exactly what I needed.

For running the process on the server, I intend to use websocket (with http://websocketd.com/),
like that I don't need have  to manageand  with http server.

Concerning the provider I use OVH for the backend and blogspot on the frontend.

I am very glad the way Transcrypt is evolving :-)

Thanks for your wise advices

[2016-11-14 11:16] #170 closed

[2016-11-14 19:19] JdeH commented on #146
Indeed proxies make this possible.
It'll be in the next commit :)

[2016-11-14 19:20] JdeH commented on #89
Will be in the next commit.

[2016-11-14 19:35] RCL-Carl opened #171 "XVFB dependency & issues for dev"
Hi,

I'm new to this project so maybe this is a repeat but I didn't see it in the issues list, so hear goes nothing.

# Concern Num 1
I'm trying to get a dev environment setup so that I can run the automated test suite. After looking at the .travis.yml file, there are some dependency requirements but I found this doesn't capture everything. On my debian machine I had to install xvfb in order to ge

[2016-11-14 19:40] RCL-Carl commented on #171
I may have spoken too soon on this - I think it asks you every time in the script. But I think checking if the a file or symlink exists for those before blowing them away is still a good idea.

[2016-11-14 21:39] JdeH commented on #148
Done

[2016-11-14 21:39] #148 closed

[2016-11-14 21:40] JdeH commented on #146
Done

[2016-11-14 21:40] #146 closed

[2016-11-14 21:40] JdeH commented on #89
Done

[2016-11-14 21:40] #89 closed

[2016-11-15 09:00] GULPF commented on #98
I've been working a bit on this (https://github.com/GULPF/rescrypt). Most of the regex syntax stuff (named groups/backreferences, conditionals, small stuff like $ behaving differently) is done, but I haven't implemented much of the API. No transcrypt style tests yet, only some provisional browser tests.

It's very early in development, but it might lead somewhere :)

[2016-11-15 09:47] JdeH commented on #98
That's quite a job! I've taken a brief look at your code and my impression is you're doing quite a thorough job here. If I saw right, you translate Python regexes to JS regexes, which I think is an efficient way to approach the matter.

So I am very happy you picked this up. Regexes are central to many programs, and having to learn JS regex syntax in addition to Python regex syntax is confusing. S

[2016-11-15 10:10] AXGKl commented on #171
Hi, author of the travis script here.  As you also mentioned, the script was created for travis, which

- provides xvfb (and FF)
- just deletes the instance after the test run

For local tests I do this:

- If manual: I simply start the bottle test server and hit /do/set1 with a browser. Meaning: I don't need xvfb since I use my local browser. Also I have other test sets with my local stuff not fo

[2016-11-15 10:22] AXGKl commented on #146
Impressive.

[2016-11-15 15:21] JdeH commented on #139
I've committed this as experimental. Could you take a look whether this covers your use cases?

KR
Jacques

[2016-11-15 16:58] RCL-Carl commented on #171
Hi - thanks for the response.

Sure - I understand. I was mentioning this because from what I can tell, there is no documentation describing what the dependencies are for development and running the test suite. Adding a section to the README.md in the continuous_integration directory would also probably be sufficient. Unfortunately, python doesn't seem to have a good way to track application depen

[2016-11-15 17:31] JdeH commented on #171
@AXGKl I've assigned this to you, let me know if that's ok.

[2016-11-15 17:46] RCL-Carl opened #172 "git status untracked files"
Hi,

After I build the transcrypt unit tests, the compiler creates a bunch of */\_\_javascript__/*.js files for each of the unit test modules. Is there a way to "make clean" that clears out all of these created files?

The issue is that when I run `git status` from the command line, there are a huge number of untracked files that are specifically not intended to be in the repository (for example s

[2016-11-15 22:51] RCL-Carl opened #173 "CI Run Script Success when Tests Fail"
Hi,

I'm trying to get an understanding of this code base and I've run into an issue with the CI run script / test server. The CI script in `transcrypt\development\continous_integration\run` seems looks for an error message from the `test_server.py` script. Unfortunately, no error message gets generated when tests fail. Errors do get generated on timeout - but not when a unit test fails.

On line

[2016-11-15 23:05] RCL-Carl commented on #173
You can see an example here:

https://travis-ci.org/RCL-Carl/Transcrypt/builds/176208669

Goto line 557-558. The script says success and CI passes but you can clearly see on line 558 that the test has failed.

[2016-11-15 23:49] RCL-Carl opened #174 "Python logging module"
Is anyone working on a python logging module ? I'd like to use the same interface that can target the web console but also for targeting other types of end points (like web sockets). I'd be interested in working on developing something like this. Would this be accepted as a module if I put something together ?

[2016-11-16 00:24] GULPF commented on #173
Hi, I noticed you are working on a implementation of re for transcrypt. [I recently started working on that as well](https://github.com/GULPF/rescrypt) :) Instead of duplicating effort, it would be preferable if we contributed to the same code base.

After skimming through your code it seems like you've implemented basically the entire API (which I haven't), but without any translation of re regex

[2016-11-16 00:32] RCL-Carl commented on #173
Ah - I see you posted in the issue on the regex library. You scooped me :)

I'm happy to collaborate - but perhaps we should move this discussion to that thread because I don't want to confuse the issue here. I'll post a message to introduce the idea and discuss how we can best integrate.

[2016-11-16 00:44] RCL-Carl commented on #98
Ooops - I got scooped. I've been working on an initial attempt as well:

https://github.com/RCL-Carl/Transcrypt/tree/regexmod

@GULPF - as you mentioned it may make sense to collaborate. My thought process was to use the javascript regex engine explicitly - ie, not attempt to translate the regex from python format to javascript format at all. It would then be up to the user to make intelligent cho

[2016-11-16 00:56] RCL-Carl commented on #98
One other item I want to mention is that for several of the API methods in re, the "IndexError" exception is thrown which, doesn't seem to be defined (unless I missed it). Are the built-in exceptions defined anywhere or is this an open item ?

[2016-11-16 06:53] JdeH commented on #98
@RCL-Carl:

Some built-in exceptions are already defined. I think we should expand them gradually with what's most needed, to keep it all small. The current exceptions at the start of:

https://github.com/QQuick/Transcrypt/blob/master/transcrypt/modules/org/transcrypt/__standard__.py

@RCL-Carl @GULPF:

Would it indeed be sensible to merge your efforts on the re's? I find it hard to judge that.

[2016-11-16 06:58] JdeH commented on #173
@AXGKl
I've again taken the liberty to assign you to this issue, since it concerns CI.

[2016-11-16 08:24] JdeH commented on #174
No one is currently working on a logging module, so it would be very useful if you picked that up.
From what I've seen from your `re` work, I expect that if you write a `logging` module, it will have a high chance of being accepted for the distribution.

### The criteria for acceptance of a module as part of the distribution are:

**1. Fits the design goals of Transcrypt**

Clarity, speed, compact

[2016-11-16 11:50] AXGKl commented on #171
@RCL-Carl :

checked your PR, from my side you can send it to Jacques, its ok to check for presence of the node and python binaries and only if not present do the symlink with sudo, plus the formatting changes.

Regarding the workflow: You say docker is bloat and I'm with you. But in the sense: Please clarify to me why you prefer to set up a full X environment on the server you develop on, compare

[2016-11-16 13:01] GULPF commented on #98
If performance is a concern, we could support both re regexes and js regexes with a parameter (or maybe a regex flag?) to `compile` and the other top level functions. The `Regex` and `Match` classes should then be written to support both cases.

The performance for the translation step _should_ not be a concern, though. In almost all cases, compiling a regex only happens a few times in an applicat

[2016-11-16 13:03] AXGKl commented on #173
@RCL-Carl : checked it and you are 100% right: The testoutput of the autotest.html was indeed not containing "ERROR", leading to false negatives in the testsuite(!)

Many thanks for reporting this!!

@JdeH : here is a PR fixing it: https://github.com/QQuick/Transcrypt/pull/175

[2016-11-16 13:05] AXGKl commented on #173
@JdeH : One thing: The set1 still continues to fail due to that rounding problem on my local machine.

Thats bad because with just transcrypt in set1 developers will see the tests all the time failing, with the same environment than I have.

Not possible to round the last digit of that float off ?

<img width="1375" alt="screen shot 2016-11-16 at 13 08 49" src="https://cloud.githubusercontent.com/

[2016-11-16 13:08] AXGKl commented on #172
just for ref, reported also here, with an answer of @JdeH: https://github.com/QQuick/Transcrypt/pull/84

[2016-11-16 13:16] AXGKl commented on #174
@RCL-Carl : That would rock totally, to have on the server a log receiver for browser logs.

Maybe that would be a lightweight process to receive the logs(?): http://websocketd.com/

[2016-11-16 15:21] RCL-Carl commented on #174
Yes, that is exactly what I'm thinking as an end goal.

I'm considering a first pass at the logging module consisting of:

- Most of the base classes for the logging module "Logger, Handler, etc"
- I would only implement the StreamHandler in the first pass
- No File-IO centric operations - ie, No FileHandler, etc. If someone wants to add them later for nodejs support or to the HTML5 storage concep

[2016-11-16 17:14] RCL-Carl commented on #171
Of course not - I would just prefer not to have to use my mouse. Obviously this is a personal preference, and I noted as much. But you haven't addressed the core of the issue. With the way the script is currently, it is impossible to run it again without killing processes or running the "run kill" script. How does this help your workflow (test_server.py + browser)? It only serves to make my prefer

[2016-11-16 17:28] RCL-Carl opened #176 "set1_one_by_one list is broken"
Hi,

I just pulled master and tried to run the `run set1_one_by_one` script and it complains about not being able to find "transcrypt/div_fixes". This stalls the run script and does not allow it to proceed futher. I'm on git hash 92f0c0.

[2016-11-16 17:57] RCL-Carl commented on #173
Ok - in ubuntu 16.04, the build is broken in firefox 49. In chrome 53 the build runs and works fine.

[2016-11-16 18:19] JdeH commented on #173
@AXGKI: I remember that rounding off didn't solve it, since in edge cases that happens differently. This is a nasty little problem. Maybe for now just kick module_math out of the test, until I've taken a good look at this. Is that OK with you?

[2016-11-16 18:25] JdeH commented on #176
Oops, transcryt/div_fixes has been renamed to transcrypt/div_issues (fixes + enhancements)
This problem will be gone once we have one central testlet list, rather than a copy in the CI test.
But that has to await the problem with the math module accuracy (working on that).

[2016-11-16 18:46] RCL-Carl commented on #172
Ok - so TLDR:

[code]

is basically like make clean if you configure it correctly.

[2016-11-16 18:46] #172 closed

[2016-11-16 22:21] RCL-Carl opened #178 "List Comprehensions / Operator Precedence Bug"
Hi,

While working on the re module, I've into the following bug. Here is my python code:

[code]

This compiles into:

[code]

The critical part of this is the following:

[code]

In javascript, [the operator precedence takes the '>' operator before the '&' operator](http://www.scriptingmaster.com/javascript/operator-precedence.asp). In this context, it means that `flags > 0` converts to a boolea

[2016-11-17 00:18] AXGKl commented on #176
Hi, I commented it out in a new PR: https://github.com/QQuick/Transcrypt/pull/179

@RCL-Carl : The testsets (except set1 which is for travis) are anyway just examples which you should customize to your needs (i.e. where you work at, e.g. re otherwise you wait too long while developing).

Here is a video about using the new dev mode: https://www.youtube.com/watch?v=lvTjKWVOwXA

[2016-11-17 00:25] AXGKl commented on #171
spent the first five hours of the night I did that browser based foo on phantomjs but I got into dependency hell, the tests were always missing stuff the browser ships with.

Then I decided that a real browser is actually what we want - so that the tests really reflect real live. There are a few ones for nodejs as well btw. if you are only interested in the server side).

But then, WHEN you run th

[2016-11-17 00:57] AXGKl commented on #173
sure ok with me, had a similar one with time due to the time difference of python run and javascript run time and yes I guess the test would still break if you run it exactly it certain times in the year ...

Btw: This one would fix it for me locally than the tests are running but I guess no way to do it rite?

[code]

[2016-11-17 01:04] AXGKl commented on #171
Until jacques merges the dev server stuff, you can copy it from here, standalone module (test_server.py):

https://github.com/AXGKl/Transcrypt

workings as said here:

https://www.youtube.com/watch?v=lvTjKWVOwXA

[2016-11-17 01:54] AXGKl commented on #174
All cool if you ask me, can't wait.
For me the way they do the server and client [here](http://websocketd.com/) would totally be fine for starters.
In the short/midterm I think we need anyway a server sided companion for transcrypt - including some conventions regarding e.g. session, user, jwt keys, storage... Then the logger should be able to be configured matching on values of those (i.e only lo

[2016-11-17 09:09] AXGKl commented on #173
@JdeH : this one can be closed, the stupid test assertion bug which @RCL-Carl reported is fixed.

[2016-11-17 09:20] JdeH commented on #173
Fine!

[2016-11-17 09:20] #173 closed

[2016-11-17 09:47] JdeH commented on #176
@AXGKl

Hi, great video!
I'll link to it from the doc page of the website.

@RCL-Carl

I think I can close this now. If not, please reopen!

[2016-11-17 09:47] #176 closed

[2016-11-17 09:54] JdeH commented on #178
Good find! Will fix a.s.a.p.

[2016-11-17 10:01] JdeH commented on #171
This issue touches several subjects, some of which I believe to have been addressed now.  Can we have a shortlist of what still remains to be done, or should I close?

[2016-11-17 10:05] JdeH opened #180 "Link to @AXGKL 's video about the testserver from the doc page of http://www.transcrypt.org"
Title says it all...

[2016-11-17 10:20] GULPF opened #181 "Bug with arrays and None in autotester"
Seems like there is a bug with how the auto tester handles `null`. `autoTester.check(None)` works correctly, but `autoTester.check([None])` always fail.

[2016-11-17 10:48] GULPF opened #182 "Bug with backslash in autotester"
This is really bizarre. The first call to `autoTester.check(str)` with a string containing a backslash will always fail, but any call after the first will work correctly. So in this code:

[code]

The first test will fail, but the other two will succeed.

[2016-11-17 12:19] JdeH commented on #180
Done

[2016-11-17 12:19] #180 closed

[2016-11-17 12:25] JdeH commented on #181
While it is very useful and has caught countless bugs, the autotester isn't perfect yet. The main limitation is that small format deviations and accuracy issues can give errors. I've had to work around several of these limitations. I'll take a look into this one. At first sight I'd say it should be easily solvable, but I'm not sure.

[2016-11-17 12:28] JdeH commented on #182
Maybe not as bizarre as it may seem. The autotester is much like a bumblebee: It can't fly, but since it doesn't know that, it routinely flies. Seriously: This may or may no be easy to solve. I'll take a look. Meanwhile think of it as a limitation...

[2016-11-17 13:52] JdeH commented on #178
This was the tip of the iceberg.
I naively assumed that operator precences in Python and JavaScript were 'largely the same'.
Not.
Should be all fixed now.

[2016-11-17 13:52] #178 closed

[2016-11-17 14:20] JdeH commented on #173
I think 'isinstance' is good enough now to attempt including this in the autotester itself. Will try as soon as I finished some other fixes here (console I/O not working properly). Since I cannot reproduce the roundoff problem locally, this action may again break it. If so, I trust you let me know... ;)

[2016-11-17 14:34] JdeH opened #183 "Synchronize console I/O"
All demo's using Python's console `input` do I/O in the wrong order.

Console I/O is handy for first-time programmers. They don't have to deal with the intricacies of the event driven world yet.

Unfortunately JavaScript is getting more and more obsessive compulsive async: Even `window.prompt` refuses to await its turn these days, synch ajax is deprecated on the main thread (which happens to be th

[2016-11-17 16:04] RCL-Carl commented on #171
I think that using the firefox browser directly is great, in fact, I think doing this CI test on as many popular browsers as possible would be even better.

But you can't do that right now either - you have launch the test server and then use the browser manually to do this. I personally feel we are in violent agreement on some things and we are possibly mis-communicating on others.

Woah - I did

[2016-11-17 16:13] RCL-Carl commented on #182
I've run into this issue with the re stuff as well - There seems to be a difference in how javascript and python interpret strings with escape sequences.

For example - octal escape sequences:
in python "\\141" -> "\\141"
in js "\\141" -> "\141"

Might have to do with the way that the results from the python run are stored in HTML in the autotester.py script

[2016-11-17 16:19] RCL-Carl commented on #98
Agreed.

For a quick and dirty test, I've copied your code from the `rescrypt` repo into my local directory to do some testing. Not working yet - but I'm progressing toward an initial integration.

@JdeH @GULPF  How do you want to integrate the code the `rescrypt` - should it be a submodule referencing the GULPF repo or are you planning to just merge them together ?

[2016-11-17 17:09] RCL-Carl opened #184 "Improved Browser View of AutoTest Results"
Hi,

So I've been working with the autotest browser results and it is very frustrating to compare the results. Additionally, the browser results as shown don't allow an easy way to determine where a particular issue is. In addition, the current browser view only highlights the first error that it encounters. To fix this I've refactored the "autotester" HTML generation to look more like the attache

[2016-11-17 17:47] JdeH commented on #184
Looks very promising.
Am I right that the testlets stay as simple as they are rightnow?

I can only make a final decision based on the end result.
But for now this sounds like a very useful improvement.
So it stands a high chance of being accepted.

[2016-11-17 17:55] RCL-Carl commented on #184
That's correct - nothing in the testlets would change. This is change would only affect the frontend and adds some additional meta data in the `autoTester.check` method for the code location information.

[2016-11-17 17:58] JdeH commented on #184
What exactly do you mean by adding metadata in autoTester.check? It would pick up the location where it's called I guess? But syntactically the call would remain as simple as it is now, right?

[2016-11-17 18:01] RCL-Carl commented on #184
the call signature in `autoTester.check` stays the same.

Excerpt of check :
[code]

[2016-11-17 18:05] JdeH commented on #184
Just really a good idea.

[2016-11-17 18:08] JdeH commented on #174
@RCL-Carl
Took the liberty to assign this to you.

[2016-11-17 23:06] jneuendorf opened #186 "Attempt to load module index/hello"
I just recently installed transcrypt on **macOS Sierra** using **python3.5** and similarly to #115 I get this error when trying to build (with `transcrypt -b`) the demo `hello.py` (the one with the solar system - source code [here](https://github.com/QQuick/Transcrypt/blob/master/transcrypt/demos/hello/hello.py)

[code]

When I try to just run it (with `transcrypt -r`) I get another error:

[code]

[2016-11-17 23:24] AXGKl commented on #171
true - and it would be possible to do in travis. Also the different switches like -e6 -e5 should be tested. You think of using the selenium integration they offer, rite ?

I'm doing it like fswatch, just using `entr` which is basically the same just that I know it.

with that dev mode you can now, no, I mean the manual / mouse thingy is not necessary anymore (?)

is xvfb *still* needed in your wor

[2016-11-18 05:27] RCL-Carl commented on #186
I'm on Mac OS X 10.11.6 so I can't test macos Sierra, but I don't think it should matter. Are you building from the `transcrypt/demo/hello` directory ? I can get the error message you do if I build form another directory. For example:

[code]

But if I run from the hello directory it works:

[code]

I would definitely agree that this is not optimal but I'm not familiar enough yet to know what the

[2016-11-18 08:04] artyprog commented on #183
Hello Jacques,

I don't know if it fits your needs, but never now

http://bluebirdjs.com/docs/async-dialogs.html

Regards

2016-11-17 15:34 GMT+01:00 Jacques de Hooge <notifications@github.com>:

[2016-11-18 10:20] kozec opened #189 "Transcrypt tries to write to its installation folder"
Apparently to write source maps there.

[code]

This basically prevents any kind of use.

[2016-11-18 11:21] kozec commented on #189
I was able to workaround issue using [this very wrong patch](http://pastebin.com/FUjtfa3q).

You would probably want at least to use better way to decide when location is not writable.

[2016-11-18 11:27] JdeH commented on #189
Since Transcrypt keeps .py files, generated .js files, generated sourcemaps and other optionally generated files (like a parse tree) together, resulting in one 'module directory tree', it indeed has to be installed in a directory where you have write privilege.

The reason that it's done like this, is that there are also JavaScript-only modules which are part of the installation, hence should be s

[2016-11-18 11:29] JdeH commented on #189
Thanks for the patch, that will solve the problem temporarily on most linuxes. I'll refer to it for now if other bump into the same problem.

[2016-11-18 11:32] kozec commented on #189
I don't think your way of installation would work anywhere outside of probably Windows 95 :)

Even Python on Windows doesn't normally have write access to installation directory.

[2016-11-18 11:41] JdeH commented on #189
Haven't had any problems on my Win8 and Unbuntu systems. But I'm superuser on all those. It's acknowledged this is a 'must have'.

I've attached a 'help wanted' label to this one.
**To be very specific, the requirements for a good solution are:

- No duplication of the module directory tree, .py, .js, .map, .tree etc. files stay together as they are now.
- Building everything as part of the instal

[2016-11-18 11:44] Enerccio commented on #189
Please dont tell me you run ubuntu as root all the time...

[2016-11-18 11:47] JdeH commented on #189
Have been running everything as root for 30 years and never crashed an OS.

[2016-11-18 15:31] JdeH commented on #183
Simple, purely text based programs can now be made using blocking I/O.
This is enough for the first steps in programming:

if...else...
while...
for...
functions
classes
modules

After that (and some non-interactive turtle graphics) it's time to introduce buttons, input fields and event handlers...

[2016-11-18 17:01] #183 closed

[2016-11-18 17:36] JdeH commented on #189
I've looked into this a  little bit further.
If the JS files that result from compilation are stored in a user directory than they aren't centrally available anymore.
I think the best solution is to use virtualenv for each project, where the project participants all have write privilege.
In this way .js files resulting from compilation of libraries aren't compiled over and over again.
I am using v

[2016-11-18 21:20] jneuendorf commented on #186
Thanks for your fast reply. Your description also works for me, so thanks! :)
So does this principle always work? I mean do I always have to `cd` into the directory that (directly) contains the file I want to compile? That would make it more difficult to compile a whole bunch of files in different directories...

Or is the reason it worked that you `cd`'ed into the package directory?

[2016-11-18 21:38] RCL-Carl commented on #186
Well - I know that the unit tests compile a bunch of sub-modules so I there is definitely a structured way to handle code in different files and directories. I'm pretty sure that the compiler traces through the imports and compiles as it goes even if they are separate directories. I think the compiled javascript for each module ends up in created subdirectory __javascript__ in those separate direc

[2016-11-18 21:45] jneuendorf commented on #186
Alright. Then I'm gonna play around with it a little and see how far I get.

[2016-11-18 21:59] RCL-Carl opened #191 ""warnings" module"
Given the state of the project where there are quite a few gotchas that are based on decisions to not implement portions of the python API, I think it may make sense to include the [warnings](https://docs.python.org/3/library/warnings.html) module in the distribution. That would provide developers with a mechanism to relay runtime issues that are known short comings either to the console or elsewh

[2016-11-19 05:44] RCL-Carl opened #192 "Bug: try / finally without except"
Hi,

While going through the logging module I've found an issue with the try/except/finally code generation.

Here is the python code:
[code]

Here is the javascript code:
[code]

The above is a valid python sequence, but the second has an invalid syntax issue in the "catch" block. It seems that the code that generates the javascript exception vs python exception handling in the catch block is sti

[2016-11-19 08:57] JdeH opened #193 "T-RFC1: Cooperation and division of labour."
[EDIT]

------

As a result of this RFC, the discussion below and experiment that followed it, @JdeH decides the following:

------

[END EDIT]

Transcrypt: the transition from chapel to bazaar
------------------------------------------------

Now that more people are getting involved in developing Transcrypt, I'm looking for a way to allow this project to grow orderly without myself being a bottl

[2016-11-19 10:20] AXGKl commented on #173
I will ;-)

If you put into the autotester itself then you want to refine `nr = str(nr)[:15]` into sth which only cuts the digits by length after the dot.  In my tests here the tests worked up to 15 total length so I think 13 should be the cut off length for everything after the dot.

[2016-11-19 10:43] JdeH commented on #173
(Also have put this in a comment on one of your commits, but just to be sure...)

@AXGKl : I invite you to take up ownership (as described in #193 / T-RFC1) of the continuous integration facilities, a.o. the contents of ../development/continuous_integration. What this means that all modifications on that module happen in consultancy and with approval of you. What it doesn't mean is that you have t

[2016-11-19 11:17] AXGKl commented on #176
video was intended mostly for @RCL-Carl so show the demo server.
Don't think its really good for transcrypt as the first one found in youtube, first impression should be different, far more polished. Also its outdated already, with @RCL-Carl's improvements on the .html.

=> I actually wanted to delete it again but if you like it I leave it and try to do a more polished one when I have time.

[2016-11-19 11:31] JdeH commented on #171
@AXGKl @RCL-Carl:

- Since the XVFB dependency still exists (it does, doesn't it?) I think it should indeed be in the docs.
- Looks to me the best place would be the README.md in the continuous_integration directory.
- Since I am bound to misformulate due to lack of specific knowledge, could @RCL-Carl could you draw up a short remark on that for inclusion in the readme, just include in a comment o

[2016-11-19 11:36] JdeH commented on #176
It's up to you.
A polished video would be great but I lack the skills for that.
Since you wanted to delete it I'll for now remove the link.

[2016-11-19 12:33] AXGKl commented on #176
lets do like this: you delete the link so that no body thinks its a transcrypt 'official' thing. and I add a note to the video that this just an informal heads up.

[2016-11-19 12:38] JdeH commented on #176
Agreed, link is deleted

[2016-11-19 12:46] AXGKl commented on #171
General Remark on your request for my approval on anything regarding CI topic: I don't want to be a bottleneck and it could well be that I'm off months as already happened.

=> I'd like to be able to appoint people which also have full write permissions, i.e. people which I judge capable enough to no screw up plus who share the same goal - up to the extent that such a person I trust decides to del

[2016-11-19 13:08] JdeH commented on #171
@AXGKl :

1. What exactly do you mean by "full write permissions"? Currenly I am the only one having write permission on the master branch of the QQuick/Transcrypt/master. Do you propose to change that and give other people also write access there? Or do mean fully authorizing people to replace you as owner of the CI in case you're absent, but not changing any permissions on the repo?

2. I've not

[2016-11-19 14:27] AXGKl commented on #171
ok, here a short update of the readme, https://github.com/QQuick/Transcrypt/pull/194

Regarding perms: I did naturally not ask for direct push perms., I just say to you that if @RCL-Carl sends you a PR involving the CI you can assume my approval - even if he deletes anything I did, mine was a quick hack as you know, to solve an immediate problem and we all know that the whole testing could be done

[2016-11-19 15:36] pjbonestroo commented on #139
This is what I was hoping for. Thanks!

[2016-11-19 15:47] #139 closed

[2016-11-19 16:58] AXGKl commented on #193
Hi, Jacques, good idea to assign owners of certain subjects.

I did not fully understand what you expect from e.g. me regarding CI when I accept ownership for CI: Am I exepected to follow all issues all the time then? Or would you send me an email with "Pls ack this and that" ? Because staying up to date and read ALL transcrypt issues ALL the time I can't guarantee at least not forever, as much as

[2016-11-19 18:02] kozec commented on #189
Virtualenv magic affects only PYTHONPATH & co, it will _not_ allow Transcrypt to write `/usr/bin` subdirectory. It will not redirect writing operation somewhere else either.

[code]

I don't believe user needs those centrally available. In fact, allowing random user to change js files included by compiler and thus inject anything into code of another user sounds pretty catastrophic from security v

[2016-11-19 19:57] RCL-Carl opened #195 "CI: test_server.py with no args throws exception"
Hi,

When I run `test_server.py` with no arguments, I get the following exception:

$> test_server.py

[code]

It seems to be throwing the exception while it is trying to print out the usage text for the utility.
If I pass with valid arguments, it does not throw an exception.

[2016-11-20 05:53] RCL-Carl opened #196 "Bug: for loop over iter()"
Hi,

I'm working on the python re.finditer function implementation and there seems to be an issue with the code generation for the for-loop over an iterable object generated by the `iter()` function.

Python Code:
[code]

Javascript Code:
[code]

The issue is that `ret` returned by the `py_iter(vals)` returns an object of the form:
[code]

which gets assigned to `__iterable0__`but what we really w

[2016-11-20 07:55] JdeH commented on #193
Hi,

**About 'what you expect from me'**

Competent and energetic team members like you will in most cases be very busy in their professional activities and beyond. So, as I hopefully made clear in T-RFC1, I can 'expect' nothing, if 'expect' would mean claim in any sense. Currently my idea is to assign something to you if it's in your subject, which is the GitHub workstream equivalent of 'please l

[2016-11-20 11:44] AXGKl commented on #193
ok, fully understood. So I accept the ownership and you can (continue to) assign issues with CI and time module and also the (unfortunatelly but prio2) still missing config module to me. But please keep a note that you don't need to wait for my approval if certain people I consider capable send you PRs regarding those subjects. Like Carl for CI. Accept them like you would accept mine.

Regarding t

[2016-11-20 12:04] JdeH commented on #193
I am very pleased that you accept the ownership of CI! As for the config module: take your time. I absolutely agree that you gave priority to CI.

Splitting the repo: glad I'm not the only one that considers GitHub complicated, perhaps vulnerable at some points. Indeed it seems that many things could have been more straightforward.  On the other hand I greatly appreciate what's there, and it seems

[2016-11-20 12:10] AXGKl commented on #195
ty, fixed here https://github.com/QQuick/Transcrypt/pull/198

@JdeH : can be closed.

[2016-11-20 12:13] AXGKl commented on #193
Thanks god we have the git manpage gen: https://git-man-page-generator.lokaltog.net

have a look at it ;-)

[2016-11-20 12:15] JdeH commented on #193
LOL!

[2016-11-20 13:05] AXGKl commented on #193
think people widely [agree](http://softwareengineering.stackexchange.com/questions/87217/why-is-mercurial-considered-to-be-easier-than-git) mercurial is simpler while not at all less powerful.

Without GitHub I dare to claim that mercurial would be the leading DVCS. But well, github does not support mercurial and bitbucket seems no alternative we'll have to struggle on with git and its unnecessary

[2016-11-20 15:18] #195 closed

[2016-11-20 16:15] #171 closed

[2016-11-20 17:43] RCL-Carl commented on #184
I think this issue can be closed now.

[2016-11-20 17:54] JdeH commented on #189
Hi,

Personally I use Windows for development and Ubuntu for additional testing. Most developers are on Linux a.f.i.k.. I have a Miniconda / Python3.5 / Numpy installation in my home dir. I remember using virtualenv to install packages like Transcrypt in a project-specific directory where only project team members had access. So security wasn't an issue. But maybe it was different from what I reme

[2016-11-20 17:55] #184 closed

[2016-11-20 18:33] RCL-Carl commented on #193
@JdeH - per your invitation in another thread, I can take on the autotester browser view part of the code base. I'm assuming that the responsibilities you are looking for are:

1. Guide development of this module specifically with respect to arch and features. This would include providing feedback to other developers about what code changes we should make in the future
2. Code review for changes b

[2016-11-20 19:08] AXGKl commented on #193
2 cents here regarding **coding conventions**, specificically regarding **Tab vs Spaces**:
I see the problem in different conventions across one repo and I'm not religious about pep 8 but we have to see that the vast majority of python devs (incl. me) is using spaces and forcing them to use tabs in *their* code could cause pain. I think for independent modules/parts of transcrypt we should continu

[2016-11-20 19:14] AXGKl commented on #189
PermissionError: [Errno 13] Permission denied: '/usr/lib/python3.5/site-packages/transcrypt/modules/org/transcrypt/__javascript__/extra'

sounds to me that the permissions to write into the install dir is only required at the very first run of transcrypt, where it compiles core modules from python to js.

All subsequent compilations won't need the permission, since the files are then there.

=> so

[2016-11-20 20:06] JdeH commented on #193
@RCL-Carl:

 That's exactly what I am looking for. I am very happy that you will assume ownership of this part of Transcrypt!

------

@RCL-Carl @AXGKI:

Lots of valuable information in what you both propose. It'll take me some time to digest and think. So it's too early for me to react on everything, but I will certainly get back on this. Think it's important to let this take solid shape in our h

[2016-11-20 20:14] JdeH commented on #189
Problem is that there are several, switch controlled, ways to compile. Compiling for ES6 will produce code that differs from ES5 code. The same holds for --fcall and other switches.

[2016-11-20 20:55] kozec commented on #189
Not only on first run. Every time when new script from /usr/something... directory is imported. Make some random test.py, compile it as root and you _can_ compile it as regular user after. But try adding `import math` and you are crashing with PermissionError. And what's worse, instead of actual error, you'll get `Can't import module 'math'` message. That's not really usable for anything...

I can

[2016-11-20 23:34] AXGKl commented on #189
Reading through the whole thread:

Let me assure you, that I'm happily using Transcrypt (also in production) since over half a year and last time I was developing on a windows machine was sth. with Excel 4.0, some 25 years ago...

Having said that: On Linux you seem to do sth wrong with your venv isolation, you must clearly prevent it from using system packages but fully isolate it, if you have no

[2016-11-21 07:13] agosto-karlkroening opened #200 "Extending arrays using `+` operator"
Is this intended behavior?
[code]
Output:
[code]
(Running with cpython of course produces `['abc', 'def', 'ghi']`)

Generated JS:
[code]

[2016-11-21 07:29] JdeH commented on #200
Using + for lists requires operator overloading to be switched on.
To prevent number addition and string concatenation from becoming slow, use it locally:

[code]

This should work. If it doesn't something has fallen over, please let us know.

Kind regards
Jacques

[2016-11-21 08:35] JdeH commented on #189
@AXGKl

Thanks for the clarification, that's exactly how I used virtualenv and indeed everything was local to the project directory where virualenv was activated. Since I needed Numpy for Python 3.5 I now use Miniconda, indeed also like you describe.

 @kozec

If you don't need Numpy, probably the virtualenv route is to be preferred, since you may need different setups for different projects, usin

[2016-11-21 14:08] JdeH opened #202 "Convert tabs to spaces in core, testlets, shipment_test, demos"
Needed to prevent confusion, unfortunately...

[2016-11-21 14:17] #202 closed

[2016-11-21 18:05] JdeH commented on #193
I've been looking quite extensively into the possibilities of GitHub with respect to splitting up a repository into "partial repos".

There are currently at least three ways to do that: submodules (https://git-scm.com/book/en/v2/Git-Tools-Submodules), subtrees (https://blogs.atlassian.com/2013/05/alternatives-to-git-submodule-git-subtree/) and subrepos (https://github.com/ingydotnet/git-subrepo).

[2016-11-21 18:29] RCL-Carl commented on #98
@GULPF

I'm having a trouble integrating your code. I can't seem to get it to run in the autotester. Can you please tell me how you are testing your code so that I can have a base of comparison?

I've create a new module `trancrypt/modules/re2` that directly copies your code and then setup a separate test in `transcrypt/development/automated_tests/re2` with your autotesters.py and autotesters_re.p

[2016-11-21 18:40] JdeH commented on #98
@RCL-Carl

I would say, just merge them together.

[2016-11-21 18:41] RCL-Carl commented on #98
Yup - working on it.

[2016-11-21 18:46] JdeH commented on #98
About mixing Python and JavaScript syntax c.q. semantics: Let's keep them separate in Transcrypt, JS being easily recognizable by the \_\_pragma\_\_ ('js', {}, ...) marker. In applications there's some deliberate freedom, e.g.  http://sterlicht.alwaysdata.net/transcrypt.org/docs/html/special_facilities.html#keeping-your-code-lean-pragma-jskeys-and-pragma-nojskeys, to make it possible for dev's usi

[2016-11-21 19:18] JdeH commented on #186
Currently Transcrypt must be run from the directory that the main program is in.
Would be better if it could be run from anywhere.

[2016-11-21 23:20] AXGKl commented on #193
request for confirmation: You suggest we fork the master transcrypt repo a few times within the qquick organisation, then add there subject specific stuff, until happy then send from those, from time to time a PR to the master transcrypt repo? So basically like feature branches but within seperated forks, with their own issue lists right? Would this be even possible in github, to have the same rep

[2016-11-22 03:49] RCL-Carl opened #203 "kwargs limitations"
Hi,

As I'm going through the logging module, there are a lot of cases where `**kwargs` are used to provide flexibility in the UI. When I enable the kwargs option using `__pragma__('kwargs')` the function receives an object that from what I can tell is a javascript object but not a full dict object. In other words, the function cannot call dict methods like "keys()" or "pop()" on kwargs even thoug

[2016-11-22 06:32] RCL-Carl opened #204 "Bug: List coerce to Bool"
Hi,

I ran into an issue with the way lists are converted to booleans in python vs javascript. In javascript, an empty list converts to true. In Python, an empty list converts to false.

Here is the Python:
[code]

Here is the javascript:
[code]

This results of this when run through autotester is the following excerpt image:
![screen shot 2016-11-21 at 10 30 14 pm](https://cloud.githubusercontent

[2016-11-22 09:12] fzzylogic commented on #204
See '[automatic conversion to truth value](http://sterlicht.alwaysdata.net/transcrypt.org/docs/html/special_facilities.html#automatic-conversion-to-truth-value-pragma-tconv-and-pragma-notconv)' in the docs. Jacques would know more about the rationale behind that. Thanks for your detailed feedback and valuable contributions to Transcrypt.

[2016-11-22 11:24] JdeH commented on #203
The rationale was that I wanted to keep this mechanism as cheap and lightweight as possible. But I may have underestimated the need for a real dictionary, and a real dict isn't that heavy. It could be that there are some technical problems as well, but I expect them to be solvable. So my proposal is to indeed make it a full fledged dict, unless severe implementation problems arise, which as said I

[2016-11-22 11:26] JdeH commented on #204
Should indeed work with the 'iconv' pragma (or switch). If not it's a bug, so let me know.

[2016-11-22 11:31] GULPF commented on #98
The crash might be because I've been using the `-t` flag, instead of pragmas. Not using it will probably lock the code in a infinite loop. Should be changed, either to pragmas or just checking the length of lists instead.

I assume it's not valid python because the implicit type conversion, and adding an explicit `str()` call makes it valid? I agree that it's preferable to use valid python, I miss

[2016-11-22 11:32] JdeH commented on #193
Yes, thats what I mean.

Would it be possible? Well, I blindly assumed that it would, but I may have been too optimistic. Well, I guess the worst thing that could happen is that each subject corresponds to a Git account. I hope that's not needed, will look into it. The main point is that neither Git limitations, nor subject boundaries should dictate our directory structure.

I'll take an even clos

[2016-11-22 15:31] RCL-Carl commented on #204
Great - thanks.

[2016-11-22 15:31] #204 closed

[2016-11-22 15:36] RCL-Carl commented on #203
I don't think there is any need to change your schedule. I can work around it for now. Thanks!

[2016-11-22 18:10] AXGKl commented on #193
I must say *I* actually like the idea to have a full transcrypt at hand for the subject specific stuff, makes all the handling and testing very simple - and the PRs, and the subject specific issue lists w/o the need to filter all the time. Guess the standard git way to do what you propose is to use feature branches and filters on github for the isolation of contributions but your proposed way I li

[2016-11-22 20:10] agosto-karlkroening commented on #200
Makes sense - operator overloading must be expensive and is enabled by default. It's cool that you can enable it if needed.

Thanks for the quick reply! And great work on this project - I'm excited to see where it goes.

[2016-11-22 20:10] #200 closed

[2016-11-22 21:18] JdeH commented on #193
Indeed account names would be like you propose, but lets keep this under consideration for a (short)while.

Problem with simply using branches is that push privilege isn't per branch. There has been discussion of that, but not any sign that's going to be built in.

As to not using branches and what people think of it. We should choose what gives us maximum leeway in development. In that way we'll

[2016-11-22 21:41] RCL-Carl commented on #98
OK - great. Adding `__pragma__('tconv')`to the translate file makes your unit tests pass. From the code translation that I've seen, I think that checking the length of the list will have better performance. Some of the checks on lists happen inside the shiftReduce loop and expand to two calls to `__t__`. I'll work on that when I get more of the unit tests integrated.

Agreed - I'm working on anoth

[2016-11-22 22:27] AXGKl commented on #193
@JdeH : Topic unrelated sidenote regarding merc: I keep mentioning it ONLY to sort of excuse my lack of git know how, I 100% know that github is the only place where Transcrypt belongs, there is no alternative.
Sidenote to the sidenote: Python split with merc at least *also*, because the mercurial people have the exact [same problems]( https://www.mercurial-scm.org/wiki/SupportedPythonVersions#Pyt

[2016-11-23 12:26] JdeH commented on #193
Hi,

Seems that GitHub can do what we need after all, inside one organisation.
I've first experimented with organisation QQuickTryout, a dummy repo with protected branches and dummy teams.
All seems to work fine.
Then I put in place this structure in the regular QQuick organization.
Since it doesn't alter any of the facilities that we already had, I propose to try out this new structure.
I see no

[2016-11-23 15:45] JdeH commented on #193
@AXGKl, @RCL-Carl, others

**Seems github can supports subjects  and owner privileges after all, even inside one repo**

Seems that GitHub can do what we need after all, inside one organisation.
I've first experimented with organisation QQuickTryout, a dummy repo with protected branches and dummy teams. All seems to work fine. After that I've put in place this structure in the regular QQuick organ

[2016-11-23 16:43] JdeH commented on #133
No news is good news? If needed, feel free to reopen.

[2016-11-23 16:43] #133 closed

[2016-11-23 16:54] Bottersnike commented on #133
Sorry.. :P. I haven't been reading the thread. I'll see if I can find my code and give it a quick check

[2016-11-23 16:58] JdeH commented on #133
Thx

[2016-11-24 05:20] RCL-Carl opened #207 "Built-in `Callable` method"
It does not appear that the `callable` method is defined in the transcrypt framework. I was previously able to work around this by just attempting to invoke and using try/except around the call (not perfect, but it works unless the callable throws). But now I'm in a case where I don't necessarily know what args are required for this function before I call it (ie, I'm using kwargs to pass arguments

[2016-11-24 10:07] AXGKl commented on #124
You should have been there:

https://www.youtube.com/watch?v=V1K8Mju_1oo

Funny, it seems  the Netherlands is a global cluster of competing solutions for transpiling Python to JS for medical applications ;-)

[2016-11-24 10:45] JdeH commented on #124
I've seen Almar's presentation on YouTube (and the typo).

Almar was the very first to react on Transcrypt (#1), and we had a constructive conversation.
I've starred Flexx and he has starred Transcrypt, and we confirmed it was quite OK to use each other's code and ideas.

The Flexx compiler is only one element of what he's working on. He choose an approach where he's more or less independent of th

[2016-11-24 11:58] AXGKl commented on #124
(#1) is really a great read. checked a bit through the pyscript stuff and I know I made the right decision, its not his sole focus , most obviously. The pyjs function is the only thing I would miss in Transcrypt...

[2016-11-24 15:31] JdeH commented on #192
Should be  fixed on master, please reopen if still problems

[2016-11-24 15:31] #192 closed

[2016-11-24 16:13] JdeH commented on #196
Hi,

Call to iter () requires iterator support on the JS side, so -e 6 switch. Minified code will run on es5 anyhow, through Google Closure polyfills.
Will put this in the docs!

KR
Jacques

PS Rationale: When the 'universal iterator model' was added to Transcrypt, es 6 was just released. Since Closure can generate es5 from es6 and the model was quite complicated in itself, I decided not to retrof

[2016-11-24 17:06] AXGKl opened #209 "Process inline compilation"
Hi Jacques,

I know you had been asked a few times already but I just need a pointer:

Is it realistic that Transcrypt could be used as library, accepting strings of python, returning JS ? I.e. not via subprocess but inline? If you say its straight forward I give it a shot but I don't want to burn hours on the wrong path.

If its very awkward then just close this one and we'll live with the proces

[2016-11-24 17:18] Brakkar commented on #18
Hello,
I added your site here: http://www.transpilers.io

Hope it will bring you many visitors !
Benj

2016-04-13 8:01 GMT+02:00 Jacques de Hooge <notifications@github.com>:

[2016-11-24 17:24] JdeH commented on #209
I've given this a low priority.

While there are no fundamental problems with, it would require a reorganization that would take more of my time than I currently want to devote to issue, almost certainly make things fall over that are not part of any autotest.

I would not want to run that risk now, my estimation is that currently other issues, and above all reliability, gaining trust of devs, and

[2016-11-24 17:35] #209 closed

[2016-11-24 17:37] JdeH commented on #18
Good action, thank you!

[2016-11-24 19:36] RCL-Carl commented on #193
@JdeH

I'm not super familiar with Github's Organizations concept so I don't know what level of control there is. From [this link](https://help.github.com/articles/enabling-branch-restrictions/), it seems what you are talking about is possible - so that is great.

I certainly would like this approach better than having separate full repos for the different subject areas. I do think that if it is p

[2016-11-24 20:03] RCL-Carl commented on #181
This is a bug in the `Array.prototype__repr__` method in `org/transcrypt/__javascript__/__buitin__.mod.js`

Here is an excerpt of `__repr__`:

[code]

This is repr over a list object (Javascript Array). It goes through each element in the array and tries to repr it, if that fails, it tries to call the `toString` method to convert to string.

Both of these fail on `null` and the exception propagate

[2016-11-25 16:53] RCL-Carl commented on #182
Ok - so this is two separate issues. The first issue is that the test was not reporting the same results for each occurence of the string. This has been fixed with the transition to the table-based autotester results.

The second issue is an issue with the way that the strings in javascript are represented compared with the python. In javascript, the string representation is shown after escaping.

[2016-11-25 19:26] RCL-Carl commented on #207
This can be closed - latest is in master now.

[2016-11-25 19:26] #207 closed

[2016-11-25 22:53] RCL-Carl commented on #191
In the `warnings` module, there is code to attempt to determine the call location of where the warning is coming from. This is using something very similar to what we are doing in the autotester right now. We can do this for the javascript side but I don't think it would be very useful to give the javascript call location in the warning. I think the python file and line number would be more useful

[2016-11-26 01:17] AXGKl commented on #191
Hi Carl,

the -a switch also inserts the line numbers into the generated js source, e.g.

[code]

and with `<functionname>.toString()`  you can access those comments from within js - if you have the function name.

If we would put the filename into the function body than it would be, guess, "easy" to present the user with all infos.

Or did I misunderstand what you intend to do?

[2016-11-26 01:31] RCL-Carl commented on #191
I had played with the `-a` option before and in the generated js code, the header with the source file name was present, but the line numbers as you show them were not. Very odd - not sure why mine did not have that.

In any case, I think that putting this information as comments in the javascript is going to end up with a whole lot of content that for the most part will never be used. So - I agre

[2016-11-26 02:40] AXGKl commented on #191
hi, regarding the line number annotations, I tried again and also had the feeling that it did not work as it did the first time, strange. Then it did and I could not reproduce it, deleted the console output unfortunately. Maybe the switches have to be in certain order, can't explain, its argparse => should not.
In any case here the switches how I use them:

[code]

----

anyway:
There seem to be g

[2016-11-26 07:32] RCL-Carl commented on #193
So - after playing with this new method, I have an observation. What I'm noticing is that the HEAD of each of the subject_* branches are all at different places in the history repository. Which means that unless we micromanage heavily the updating of each individual branch, there is a high probability that previous commits that bring subject_* HEAD to the top of master will also be included in any

[2016-11-26 08:24] JdeH commented on #193
@RCL-Carl

I've noticed the same and I'd like to see way this of working as an experiment.
There's nothing wrong with an experiment as long as we correct the situation according to our findings.

@RCL-Carl @AXGKl others

Must say I am very pleased with the subjects and owners in itself. Me having a say in every detail simply isn't scalable enough and it does no justice to the fact that others, bei

[2016-11-26 10:36] JdeH commented on #191
Annotations not working anymore? Maybe the've fallen over, haven't used them for a long time.
Annotations BTW are only inserted for parts that are generated from a .py source, so not e.g. for __builtins__.

About __file__ and __line__. Both annotations and sourcemaps rely on this info being available in principle. So something like that will be doable I guess. Must say sourcemaps were quite compli

[2016-11-26 10:42] JdeH opened #216 "Implement some form of __file__ and __line__"
In connection with #191

[2016-11-26 10:43] JdeH opened #217 "Annotations broken"
See #191

[2016-11-26 11:05] JdeH opened #219 "Request confirmation: Discontinue subject branches"
@AXGKl @RCL-Carl

Since they're causing chaos, at least in my mind, I propose **shutting down the subject branches a.s.a.p.** Since this may interfere with your work, please explicitly confirm that this is OK for you and will not destroy any of your work done.

I've labeled this a bug, because in my view, that's the only right word for it...
KR
Jacques

[2016-11-26 12:49] AXGKl commented on #219
OK

[2016-11-26 16:49] RCL-Carl commented on #219
That is fine by me.

[2016-11-26 16:54] RCL-Carl commented on #196
From what you have described, it sounds like this is something that can be determined at compile time, no? If so, I think it would be better if the compiler were to throw an error in this case. Currently, it silently completes the compilation phase and generates a js file with faulty implementation. I think updating the documentation is good too, but failing fast in the compilation stage is better

[2016-11-26 17:16] RCL-Carl commented on #193
Ya - I think keeping it simple is the way to go. I think that lots of projects operate with one person (or a small team) holding read/write access and accepting PRs from a diverse set of people/teams.

If I may make a suggestion, perhaps you might reach out to some of the organizers of medium or large size projects on github. They may have some lessons learned and guidance as far as how to structu

[2016-11-26 17:52] JdeH commented on #189
Seems virtualenv can solve this.
If not, please reopen.

[2016-11-26 18:18] kozec commented on #189
It's not really solution, just dirty workaround for rather big problem.

I can't really use virtualenv for what I'm doing here, but I already found another python to javascript solution that actually works, so if this really _is_ how Transcrypt is supposed to work, there is no issue.

[2016-11-26 18:42] JdeH commented on #189
Thanks for your reaction.
I was unaware that there are situations in which virtualenv can't be used!
Could you tell me a bit more about that.

[2016-11-26 18:49] GULPF commented on #189
Honestly, even if there where no situations where virtualenv can't be used, it's a bit silly that virtualenv is __required__. Especially when it's not mentioned anywhere (as far as I know). When I first got this error with the math module, I simply assumed transcrypt didn't implement it.

Why does the compiled JS have to be centrally available?

[2016-11-26 18:57] RCL-Carl commented on #189
I havent had an issue with venv, but i agree that the current deployment
model is lacking in this regard. It is my opinion that the short comings
with respect to using "git status" issue #172 is also linked with this
limitation. I personally think that a build directory, that possibly mimics
the transcrypt's distribution directory structure, in the directory where
transcrypt is called might be a b

[2016-11-26 19:14] kozec commented on #189
Could you tell me a bit more about that.

I'm using build machine that starts every build in fresh home directory. It helps catching that kind of weird bugs which seemingly happens everyone but on my own machine. Build script, of course, doesn't have any rights that common user don't, so Transcrypt falls right into its face.

It would be _probably_ possible to install virtualenv there, but it woul

[2016-11-26 21:26] AXGKl commented on #189
@kozec : Here is a solution which

1. does not require perms beyond user
1. allows you to use any system python library
1. does not require venv:

[code]

[2016-11-27 03:55] RCL-Carl opened #221 "Dict Creation Issue"
In python one can create a copy of a dict by calling the following (this is obviously a contrived example but the concept of making a copy of a dict is relatively prevalent one):

[code]

In transcrypt, if one attempts to do this, the js runtime throws a `TypeError: Cannot redefine property: __class__` exception because the `Object.defineProperty` method is invoked on `c` to create dict `d`. Per t

[2016-11-27 12:08] JdeH opened #222 "Make sourcemap accurate for non-destructuring assignment to class attributes"
Sourcemaps for non-destructuring assignment to class attributes can be simply made more accurate by calling adaptLineNrString on the right spot.

[2016-11-27 12:14] JdeH opened #223 "Sourcemap inaccurate for destructuring assignment to class attribs and in-class property defs"
In these cases code is moved outside the class body.
This can be solved in principle but is currently accepted as a limitation.

[2016-11-27 12:17] #223 closed

[2016-11-27 13:37] JdeH commented on #219
Done

[2016-11-27 13:37] #219 closed

[2016-11-27 13:37] JdeH commented on #222
Done

[2016-11-27 13:37] #222 closed

[2016-11-27 13:37] JdeH commented on #217
Fixed

[2016-11-27 13:37] #217 closed

[2016-11-27 14:22] #181 closed

[2016-11-27 14:24] JdeH commented on #191
Annotations have been repaired.
Will look into __file__ and __line__ now.

[2016-11-27 15:40] JdeH commented on #216
The __file__ pseudovariable now contains the absolute path to the source file, no matter whether it's the main prog or a module. CPython gives rel path for main prog and abs path for module. Think that's very illogical.

The __line__ pseudovariable now contains its source line nr. CPython doesn't have a __line__.

[2016-11-27 15:47] #216 closed

[2016-11-27 15:48] JdeH commented on #191
__file__ and __line__ added

[2016-11-27 21:02] RCL-Carl opened #224 "Testing Diversity"
The current testing method using `test_server.py` and `AutoTester` covers a lot of ground, which i think is great. But I feel that right now we have placed some artificial limitations. For example, it is my understanding that  it is currently not possible to pass arguments to the compilation of the tests when running with `test_server.py`. This means that the generated js code is limited to whatev

[2016-11-27 23:12] AXGKl commented on #224
Hoi Carl,

here a PR which allows to tell the test server which flag sets to test: https://github.com/QQuick/Transcrypt/pull/226

I did not change the travis default since I have errors here with `./test_server.py 7777 dev flags '-b -n -c -da -e 5, -b -n -c -da -e 6'`  for the second set.

Note: I don't allow currently to change the flags on the fly via the URL, if you think its useful I can do it

[2016-11-28 05:35] RCL-Carl commented on #191
I've tested that out real quick on my local machine, and I think that it works great. I've pushed a PR that builds on this and adds `__name__` and `__filename__`. #227

[2016-11-28 06:41] RCL-Carl commented on #224
I'll check it out tomorrow - sounds very promising.

[2016-11-28 07:58] JdeH commented on #224
I think the Travis tests started automatically after each commit should use the following switches:

------

**Flags that should always be set:**

- Complex, debug assert, build: `-c -da -b`

**Flags that should be used in all possible combinations:**

- JS-version: either `-e 5` or  `-e 6`     (-e 5 is currently the default, but  that may change, so best use explicitly)
- Fast calls: '-f' on or o

[2016-11-28 10:48] JdeH commented on #221
Fine!

[2016-11-28 10:48] #221 closed

[2016-11-28 10:50] JdeH commented on #224
@AXGKl
CI system becoming more powerful all the time!
Shall I leave this open until the above switch variations are part of the CI commit test?

[2016-11-28 10:51] #193 closed

[2016-11-28 10:57] JdeH commented on #224
@AXGKl

I've assigned this PRIO 1, since I consider test diversity very important. So 'must' (of course) does not mean that you're under any obligation to do something about it...

[2016-11-28 12:16] AXGKl commented on #224
@JdeH

I would immediately add the e 6 tests but they fail currently. Can you confirm or dismiss this? If dismissed I check further why they fail on my machine.
Or should I just commit it and we have travis fails intermittently  until someone fixes it ?

[2016-11-28 12:17] AXGKl commented on #224
I mean normally I would say adding w/o a doubt but I'm not 100% sure if the fails are not an artifact of the test procedure, thats why I'm asking if you see the errors as well.

[2016-11-28 14:22] AXGKl commented on #224
@RCL-Carl, @JdeH

Argh the test flag stuff has a **huge bug**, pls spare your time testing it. Getting back to you when fixed!!

[2016-11-28 16:10] JdeH commented on #203
Done, let me know if not OK

[2016-11-28 16:10] #203 closed

[2016-11-28 16:58] JdeH opened #229 "Module itertools (es 6) broken after change in kwargs"
Simple to fix, it seems

[2016-11-28 17:11] AXGKl commented on #224
hi now the flags should work. https://github.com/QQuick/Transcrypt/pull/230

[2016-11-28 17:13] JdeH commented on #224
I've broken itertools for -e 6. Hope it didn't hinder you. About to commit fix.

[2016-11-28 17:21] JdeH commented on #229
fixed

[2016-11-28 17:21] #229 closed

[2016-11-28 18:05] JdeH opened #231 "Local CI test fails for 'hello' autotest using -e 6"
[EDIT]

I think I know what the problem is...

The -e 6 switch is also needed for CPython, so switches are then: `-r -e 6`
This is necessary, since also CPython needs to do extra tests in the es6 mode (since TS does them, and there has to be a one-to-one mapping).

So I think the -e 6 switch is not passed to Transcrypt when running rather than compiling.

Note that also some extra testlets are don

[2016-11-28 19:16] JdeH commented on #224
Itertools committed. But still a small problem, see #231,
Think that -e 6 is missing in the run (rather than compile) mode.

Switches have to be `-r -e 6` (since HTML has to be generated for also for the test cases that are unique for es6.)

[2016-11-28 20:12] RCL-Carl opened #232 "Conceptual - Thinking about modules"
Hi,

The following is intended to start a conversation about a thought that I had last night. I'm not necessarily advocating that resources be committed to it but I do think it deserves some discussion.

As I understand it, modules are currently compiled into a file `__javascript__/<name>.mod.js` which contains the implementation of the js module. If we take the `logging` module for example, it lo

[2016-11-28 22:36] AXGKl commented on #232
Hi, a few people had been asking for this already, especially the hot module reloading seems to be sth js SPA devs are used to, using webpack based pipelines.
So yes, I think many many people would like to see requirejs compatible modules...
But, yes, I think not trivial, there is a lot of namespace indirection involved as far as I understand how that works...

Curiosity: I personally like a js fr

[2016-11-28 22:40] AXGKl commented on #231
understood and it all runs nicely - on my laptop. Having a strange problem with the travis firefox, it just does not want to run the autotest.js , already for the hello world test. GRRRR.... will follow up.

[2016-11-28 22:43] AXGKl commented on #231
yep, huston, we seem to have a problem with -e 6 on the travis firefox (https://travis-ci.org/AXGKl/Transcrypt/builds/179596815)

-e 5 works -e 6 not.

Pulling the exact same version now and test locally whats the problem.

[2016-11-28 22:53] RCL-Carl commented on #232
I'm not sure I see where any server side code would be needed. The way I see it, the modules would be compiled in the transcrypt into AMDs and then could be hosted on any CDN. There is no server side code in this model. The client determines what it needs to load, checks the cache to see if it already has the latest, if not, it pulls the appropriate version of the AMD module from the CDN. There ma

[2016-11-28 22:55] AXGKl commented on #231
yep that was it. default Firefox on travis did not like -e 6.

https://docs.travis-ci.com/user/gui-and-headless-browsers/

with this

addons:
    firefox: "49.0"

it works now.

Crazy. they pull now really a full firefox and install it, plus all the other stuff - just when you fix a typo in your doc. I don't know if my kids, once grown up, will believe me regarding the energy we where burning   fo

[2016-11-28 23:04] AXGKl commented on #224
@RCL-Carl :

whew, this one works now, required a new firefox on travis.
https://github.com/QQuick/Transcrypt/pull/233

you can try just overwriting the test_server.py until merged (think @JdeH  is already enjoying his totally unearned sleep ;-) )

[2016-11-28 23:09] RCL-Carl commented on #224
Ya - I've tested with the latest and just hacking the `-e 6` or `-e 5` as necessary and it works great. I think this will be an excellent addition for testing. 👍

[2016-11-28 23:43] AXGKl commented on #224
I hope someday, someone (incl. me) will find time to create a real nice test gui.. where you can choose the flags and also test code on the fly and stuff. Maybe an ipython notebook or sth. The current one is really not sth to be proud of, I was just happy to getting *sth* automated.

[2016-11-28 23:48] AXGKl commented on #232
Ah I see. I thought those (huge) webpack build pipelines where compiling the js modules into sth different, I mean with one namespace per module so that it can be later reloaded without breaking dependent stuff. But you must be right, since require.js works via CDNs as well it must be possible to do that also/only in the browser.  Sorry for my blatant knowlege gap.

=> Abslutely deserves a "want t

[2016-11-28 23:48] AXGKl commented on #232
wow, I had the permissions to add a prio. @JdeH : is this ok?

[2016-11-29 06:19] JdeH commented on #224
Really very convenient to be able to CI autotest for -e 6 and -e 7 now. Especially since I am dev'ing on Windows. I this way I can immediately see that at least the autotested part hasn't fallen over on Linux. Of course there's the manual testing & eyeballing, but that doesn't have to be done at each push.

[2016-11-29 06:24] JdeH commented on #231
Yes, the 3.6 tests certainly make sense!
But, since you already worked so hard on this one, I didn't dare to ask...

[2016-11-29 07:31] JdeH commented on #232
Wow, a difficult discussion, this early in the morning (for me).
But it's a subject that had to come on the table at some time.

------

@AXGKl

About assigning prio's: Since we can only assign one prio to an issue, we can't use them as a voting system.
In general I want to use the prio's in the following way:

- They should balance costs and yields
- The opinion of a subject owner on a prio conce

[2016-11-29 07:33] JdeH opened #234 "Roadmap"
Needs more thought and more time than I currently can spend on it.

[2016-11-29 09:12] AXGKl commented on #232
@JdeH : Regarding **Prios**: Yes, I thought that it can't be wanted that I could assign the prio, will result in a total mess by definition due to the simple fact that prios change (literally) all the time alone for one prio owner.   Left it set to demonstrate that I could do it for you to know that its possible.

For issues clearly touching CI only, I think I can keep the prios in my head, if not

[2016-11-29 09:13] AXGKl commented on #231
Can you give me the test switches for 3.6 ?

[2016-11-29 09:14] JdeH commented on #232
For CI the prio's should be your prio's. So propose a prio for any CI items and I almost blindly follow them.

[2016-11-29 09:25] kozec commented on #189
To be blunt, it literally makes Transcript unusable without specific, undocumented configuration. On top of that, this unexpected behavior may and will cause errors with misleading messages.

Anyone with experience with Linux should run away screaming from that :D

--

But I appreciate your help, this way should work without reinstalling _everything_ with every build. But reinstalling Transcript i

[2016-11-29 09:50] AXGKl commented on #224
Hi, reopening this, need some questions.

I included now python 3.5, 3.6 and 3.7:

<img width="933" alt="screen shot 2016-11-29 at 10 46 09" src="https://cloud.githubusercontent.com/assets/9989548/20704879/27fa7b84-b621-11e6-8ccd-668e1bc39085.png">

PR: https://github.com/QQuick/Transcrypt/pull/235

Note:

Since I start transcrypt with `run_transcrypt`, which contains `python3.5` I do the pretty u

[2016-11-29 11:52] JdeH commented on #231
Same as for 3.5, Transcrypt just detects which Python version is used to run it.

[2016-11-29 11:57] #234 closed

[2016-11-29 16:52] RCL-Carl commented on #98
Ok - latest status of the `re` module is that I think most of the core functionality is present except for conditional groups in the python translated regexes. There seems to be a problem with how matches are shown due to how the regex gets expanded to support conditional groups. I believe this can be fixed by modifying the match object only - I don't believe it requires modification to the regex

[2016-11-29 17:32] GULPF commented on #98
Correct, I haven't written a solution for it. It should hopefully be easy to solve by checking the JS match object for the first non-undefined match, which will indicate which of the regex splits (e.g which `rgxN` of `rgx1|rgx2|rgx3|rgx4` was used). So it requires the number of capture groups as well as the number of splits (i.e `n__splits`) to be known.

[2016-11-29 18:11] GULPF commented on #98
Another thing - references to capture groups in repl strings for `sub` and `subn` is currently not supported. I don't know if it's a good idea to support it, since it would require parsing the repl string which (since it can't be pre-parsed) will impact performance.

A nice workaround might be to also offer a `sub/subn` implementation which uses JavaScripts `String.prototype.replace`, which has su

[2016-11-29 20:45] AXGKl commented on #189
@kozec: Okay okay, I beg a pardon, guess you DO have 'a bit experience on Linux', hope you accept my excuse, I had a hard day ;-)

I don't think you need to reinstall Transcrypt for a less crazy build script, I mean not more than for the other stuff (some people always start from scratch in builds, as you know). Why? Because there is the clean switch on the transcrypt CLI, where it disregards anyt

[2016-11-30 17:24] RCL-Carl commented on #174
Ignore this message, I'm just trying to figure out how I can get an image hosted on github.

![screen shot 2016-11-30 at 9 00 09 am](https://cloud.githubusercontent.com/assets/15036736/20763406/c6c1b1ac-b6de-11e6-9283-fbfd7f003e3b.png)

[2016-12-01 06:11] #174 closed

[2016-12-01 06:13] #191 closed

[2016-12-01 06:15] #231 closed

[2016-12-01 06:16] JdeH commented on #224
This all works like charm!

[2016-12-01 06:16] #224 closed

[2016-12-01 06:21] RCL-Carl commented on #232
I think these are all reasonable responses. Again, I wasn't trying to suggest that we attack this immediately. Merely musing that there may be a more general way to approach modules that might make them more flexible.

[2016-12-01 06:31] JdeH commented on #232
You were clear about that, and it's good to start and maintain a thinking process about these things. For me it always takes time to integrate it all in my mind. I find it very hard not to overlook things. The way to go with infratructure, I guess, is to have a clear final goal and, in to some detail, a route in mind, but dividing it in small steps that are in itself rewarding. So indeed lets take

[2016-12-01 06:50] RCL-Carl commented on #232
I agree that this is a major concern. From my research in other similar types of projects, many of them require very long load times. In my opinion, this is a deal breaker. I think there are many solutions to this. One is to carefully select what code is generated and included in the core/libraries as you have described. In reality, this will always be the case. There are other tools though that c

[2016-12-01 12:36] JdeH commented on #232
@RCL-Carl:

I do not know exactly what difference application-wide minfication makes, because currently Google Closure just can't do this properly. Whenever I set a higher compression level than the most basic one, it starts to make semantical errors in the minified code. But it's at least a year ago I tried. Of course it is a matter of size of the API versus size of the 'internals' of a module. I

[2016-12-02 12:13] pjbonestroo commented on #131
Chrome now supports the async and await JavaScript keywords.
See Software-update: Google Chrome 55.0.2883.75
[https://tweakers.net/downloads/39301/google-chrome-550288375.html](url)

[2016-12-02 13:48] icarito commented on #116
Hi @JdeH as per your invitation and related to both #137 and #67, even #152 - I'm sharing with you https://github.com/somosazucar/python-web - I'd appreciate your comments!

[2016-12-03 08:19] JdeH commented on #116
Hi Sebastian,

Thanks for your message!
I want to take a good look at this and then I will get back to you.
Will be a few days.

Kind regards
Jacques

[2016-12-03 08:23] JdeH commented on #131
Thanks!

Had just downloaded v54 for Linux, but now they already have a new version again.
I’ll install it and experiment with it.
Would be nice to have async / await.
I’ll first have to read a bit more about all the intricacies of coroutines, but as it sounds, it may be time to add them...

Jacques

From: pjbonestroo
Sent: Friday, December 2, 2016 1:13 PM
To: QQuick/Transcrypt
Cc: Jacques de Hoog

[2016-12-07 07:50] blubberdiblub commented on #26
I'd like to disagree with the negative opinions about `super()` here. It's not an anti-pattern at all and it promotes the DRY principle. I'm talking about Python 3 here, of course, as you still need to repeat the class name in Python 2.

Going with the example of @AXGKl that would look like this:

[code]

For me, there's no loss in readability here. It's calling the initialization function(s) of t

[2016-12-07 10:49] AXGKl commented on #26
@blubberdiblub:
Transcrypt has made huge progress in autumn towards 'completeness'. In July I was happy if there was ONE way to get stuff done. Meanwhile Jacques reached a state with the project where the transpiler does not need to force users into certain programming philosophies anymore, the user has the choice in most cases, just like in CPython.

I was using super also all the time in CPython

[2016-12-12 16:58] icarito commented on #116
Hi Jacques,
Please don't feel obligated to review or comment my code, just the fact that you are aware of my effort and approach, is a great motivation. I am a great fan of your work and have been eagearly reading your conversations with @AXGKl  - I too learned BASIC and I agree with some of your ideas - although I have experienced the pain of API breakage and working with unmantained software bec

[2016-12-12 17:00] icarito commented on #116
Admittedly the live reload mechanism is simple, but I'm sure we can improve it!

[2016-12-24 06:15] daboross opened #244 "Possibility of using ES6 "destructuring assignment"?"
Currently, when writing something like this:

[code]
Transcrypt creates something like this:
[code]

I don't yet know enough about the python AST to do this, but I believe it could instead be translated to something like this:

[code]

One thing I don't know how we should/would handle is Python code like `e['b'], a = 3, 4`, but maybe it could be turned into JavaScript like the following?
[code]

T

[2016-12-24 08:06] geatec commented on #244
I've thought about this one for quite a while.
Simulation of the destructuring assignment had a very complicating influence on the code generator, not only for assignment, but e.g. also for the "for" loop.

I't be very glad to get rid of it! Only I am not yet sure if JS destructuring can over all the cases Python destructuring can, seem to remember that there were some problems with it, although I

[2016-12-24 10:17] JdeH commented on #128
Hi Gunther

Politically incorrect? I must have missed something... Probably it's because I don't watch the news to often, it just makes me sad.

It was a pleasure to cooperate with you and others on Transcrypt! Currently I am a bit tied up in a medical research project, but in the second half of januari I hope to be able to free time for TS again.

I wish you and your familiy a happy christmas and

[2016-12-24 10:23] JdeH opened #245 "Source map one line off in some else-clauses."
Don't know if this was already in, or came with 'flat if' notation.
Anyhow it should be easily solvable.

The control_structures testlet shows the problem at several places.
However the 'flat if' goes OK except for the last else.
I'll assign this to myself, since the sourcemap mechanism is tricky.

But anyone feel free to hunt this bug...

[2016-12-26 10:33] daboross commented on #244
Yeah, postponing sounds good!

[2016-12-30 11:48] Erichliu00 opened #246 "is it possible to convert code with numpy and scipy library?"
After searching document, i am not sure if it possible to convert with numpy and scipy library.
For numpy, i import it as `import numpy as np` and use some functions:
`np.random.permutation()`, `np.multiply()`,`np.matmul()`, `np.hstack()`,`np.mean()`;
For scipy, i use it to io file.

[2016-12-30 12:33] geatec commented on #246
Hi,

Numpy and Scipy are both written in C(++) and unfortunately cannot be used from Transcrypt. A start has been made with a port of a small part of Numpy to Transcrypt. It is called Numscrypt and currently can already do some of the things you mention. Numscrypt will be expanded in the near future,  but it will always be more limited than Numpy. Scipy is not yet on the agenda.

Numscrypt has not

[2017-01-02 13:52] pjbonestroo opened #247 "Conflict using multiple independent javascript files in one page"
I have 2 independent javascript files, both generated by Transcrypt. Using them in one single page gives me a problem. It gives the error **Cannot redefine property: format**.
It redirects me to the line:
`Object.defineProperty (String.prototype, 'format',` ...
The property **format** on the String prototype cannot be defined twice.

How to solve this problem?
Is the only possible solution to merg

[2017-01-02 17:53] AXGKl commented on #247
Hi,

you don't have to merge the 2 files but you can import the second within the first (just like with real python) - and therefore have everything available by just transpiling one file, the first.

Is this feasible for you?

[2017-01-03 07:20] pjbonestroo commented on #247
I would like to have 2 separated javascript files, since it are 2 independent 'applications'. On the most paged in my web-application I only need 1 of the 2 files. But on one page I need them both. And then the conflict occurs.

I think it is valuable to have the possibility to use multiple javascript files on one page, all independently transpiled by Transcrypt. In this way it is better possible

[2017-01-03 11:20] RunasSudo opened #249 "No support for __lshift__ or __or__ overloading (and related operations)"
Using the following code, for example:

[code]

Generates the following code snippet on 3.6.3:

[code]

As you can see, the `+` and `-` operations have correctly been converted to use overloading-aware code, and replacing `a` with an object with overloaded operators, the `__add__` and `__sub__` functions are called correctly.

However, the `<<` and `|` operations are not replaced with overloading-

[2017-01-03 11:32] AXGKl commented on #247
Hi, thanks, I think I understood your use case.  Allowing to have the transcrypt core evaluated twice does have many problems though, even if you bypass the global overloads via a check. The biggest is the double shipping of transcrypt core to the browser.

I suggest to consider one of these options:

1. On the page where you need both modules you set, in javascript, a global variable like `load_m

[2017-01-03 13:43] pjbonestroo commented on #247
Thanks for your detailed answer!
I already tried the second option you mentioned, by using "mod2.mod.js". But it doesn't seem to work for me. But "mod2.mod.js" is not from a single python file, but also uses `import`, and so calls the method `__nest__` in javascript. I get the error `Uncaught ReferenceError: __nest__ is not defined`.
Am I doing something wrong?

[2017-01-03 15:24] AXGKl commented on #247
funny - I get the same error now => I beg a pardon for my suggestion nr2.
What really really puzzles me is that I actually tried it before writing my answer to you (because I never used the '.mod' files directly, so I had to try) and it worked(!) - but now I see same probs like you, even w/o a subsequent import in the second module (__nest__ not defined or __pragma__ not defined). Strange.

=> @Jd

[2017-01-03 18:38] pjbonestroo commented on #247
Ok. I now have made a solution manually.
I first made an empty python file called **transcrypt_core.py** and compiled it to **transcrypt_core.js**. Then I removed the first line and the last few lines in the javascript file manually, to have all functions like `__nest__` and `__class__` globally available.
This file I added to my html page, before loading `mod1.mod.js` and `mod2.mod.js`.
It is jus

[2017-01-03 19:11] AXGKl commented on #247
Hi, thats actually very nice and maybe a step towards 'hot module (re)loading' which a few people requested already.
Thanks for that, lets see if @JdeH decides to include a compile switch or sth like that to support your use case "officially".

[2017-01-03 19:23] AXGKl opened #251 "Programmatically setting module variables"
Hi, connected to https://github.com/QQuick/Transcrypt/pull/250 I had trouble to programmatically populate module variables. Do I miss sth.?

In CPython I would do sth like:

[code]

on module level, but I understand that supporting `globals()` in general would be very hard due to runtime versus transpile time problems. Nevertheless I think allowing dynamic module level vars *somehow* would be appr

[2017-01-04 10:20] pjbonestroo commented on #247
Unfortunately, I think my solution isn't complete and ready to support.
When I add an import to mod2.py, to include mod2a.py, it doesn't work.
Still I think these problems can be solved, to get more flexibility in creating independant libraries. I need to find out how.

[2017-01-04 10:52] pjbonestroo commented on #247
@AXGKl
After thinking about it, I still don't understand why bypassing the global overloads is not a good solution. Imagine you have two totally independant (Transcrypted) libraries, from different providers, and you want to use them on the same page.
Since the transcrypt core isn't big compared to the applications itself, it is not a problem, right?

[2017-01-04 11:52] AXGKl commented on #247
Hi @pjbonestroo, after
- my problems yesterday downloading and using a mod2 independently and
- understanding again that the apps would otherwise really be nicely isolated against each other namespace wise
I begin to get second thoughts as well about that "_totally_ decoupled" scenario.

@JdeH: If  you don't see other  reasons against it I support @pjbonestroo's suggestion, i.e. to prevent double

[2017-01-05 10:36] JdeH opened #252 "Sourcemap one line off in else clause of a for or while."
Lets see if this too can be fixed...

[2017-01-05 11:26] JdeH commented on #252
Fixed indeed for for and while.
Not for try, since the order of statements changes there in a quite complex way.
The bodies of all parts of a try (so the places that could actually be breakpoints and are interesting from a debugging point of view) are correct.

[2017-01-05 11:27] #252 closed

[2017-01-05 12:06] JdeH commented on #247
@pjbonestroo

With regard to:

You're right, only one library generated from TS can be loaded at a time.
Moreover, modifying JS primitives is on one hand a hack, on the other hand the only way to make things fast, so it's a price that is paid deliberately.
The consequence is that Transcrypt couldn't cooperate with libs using the same kind of hack, which should be in the FAQ, I'll add it.
This prob

[2017-01-05 13:11] JdeH commented on #251
Fixed and committed.
Test is in transcrypt/development/manual_tests/incidental_tests/conditional_property_def
Let me know it it works for you.

KR
J

[2017-01-05 13:12] pjbonestroo commented on #247
@JdeH

I think the need for compatibility is not really painful, since it is only needed for the functions for which the checks are performed, i.e. the `String.prototype.format` and the `Function.prototype.__setdoc__`

I agree that TS is primarily meant for statefull single page apps. But I really like the possibility to have 2 separated libraries, both generated with TS on one single page. I have

[2017-01-05 13:13] JdeH commented on #247
Hi,

Fixed and committed.
Test is in transcrypt/development/manual_tests/incidental_tests/conditional_property_def
Let me know it it works for you.

    // Conditional property installer function, prevents redefinition of properties if multiple Transcrypt apps are on one page
    var __setProperty__ = function (anObject, name, descriptor) {
        if (!anObject.hasOwnProperty (name)) {

[2017-01-05 13:13] #247 closed

[2017-01-05 13:26] JdeH commented on #247
@pjbonestroo

The versioning problem is a bit more severe, though not more severe than e.g. with JQuery versions.
It doesn't only occur at call locations of __setProperty__. A fragment like

    String.prototype.capitalize = function () {
        return this.charAt (0).toUpperCase () + this.slice (1);
    };

also requires compatibility.

But since its semantics are defined by CPython, I think it'

[2017-01-05 13:54] pjbonestroo commented on #247
@JdeH
You're right, I forgot about that.
Thanks for your help on this issue, and the great work for Transcrypt.

[2017-01-05 14:03] JdeH commented on #247
@pjbonestroo
And thanks for contributing this fix! The only thing I did is put it in a function.

[2017-01-05 18:32] JdeH commented on #251
BTW, seems we're about to get some exposure at the next edition of 'Python in a Nutshell:

[https://www.safaribooksonline.com/library/view/python-in-a/9781491913833/ch01.html#idm140040762534496](url)

[2017-01-05 19:33] AXGKl commented on #251
really really great. Transcrypt being the one and only pick, amazing.

[2017-01-05 20:49] JdeH opened #253 "Links to turtle demos in docs are defunct"

[2017-01-05 21:07] JdeH commented on #253
Fixed, not yet uploaded to on-line docs.

[2017-01-05 21:07] #253 closed

[2017-01-08 08:47] JdeH commented on #189
I think having the build-directory like @RCL-Carl proposes, represents a descent tradeoff between investment / complexity and returns. So propose to make it that way. Probably it should be under a switch, not to break any existing setups.

[2017-01-08 10:46] JdeH commented on #98
According to Pareto's rule, I consider this a complete enough addition to Transcrypt.
So I'll close the issue.
@GULPF and @RCL-Carl: A fine piece of work!

[2017-01-08 10:56] JdeH commented on #132
@AXGKl

What's the status of this? Should I add the label postponed?
No intention to hasten you in any way, just want to manage expectations.
Also of course feel free to abandon the effort (as I find myself doing regularly).
Some things are surprisingly more difficult than could be anticipated.

Let me know how it stands and I'll label / close accordingly.

KR
J

[2017-01-08 10:59] JdeH commented on #189
While this is very important, it should be solved in combination with things like modular distribution.

[2017-01-08 13:05] AXGKl commented on #132
Hi, thanks for patience. I wanted to make a general lib for it (class based config) but I have too many things in my head about what it should be able to support especially for a longer going project I also want to have sth like that but don't know really when I find time to continue with it.

Transcrypt's current way is anyway well structured regarding CLI, with the categories (like "d") and so I

[2017-01-08 14:54] johanfforsberg opened #254 "WebGL gl.clear() broken?"
I ported a simple WebGL example to Transcrypt (see below), to try it out, and it just worked! Apart from one detail; seems like the gl.clear() call is somehow not translated properly, as it gives the following error in Firefox:
[code]
Commenting the line out makes the example work. I don't know why, but I'm guessing that Transcrypt can not actually know of the entire browser API and therefore make

[2017-01-08 16:16] JdeH commented on #254
Hi,

The name 'clear' is an aliased name, since otherwise it would conflict with Python dictionary 'clear' method, that receives special treatment by Transcrypt to allow arbitrary dictionary content.

(Transcrypt has no means of predicting the type of an object or variable since Python is dynamically typed.
If you use 'js_clear' instead, it should work.

So:

`gl.js_clear(gl.COLOR_BUFFER_BIT)`

An

[2017-01-08 16:27] JdeH commented on #132
Don't be sorry!
Most of us only got two hands and one head...

KR
J

[2017-01-08 16:33] JdeH commented on #254
By the way, if you are a member of StackOverflow:

This is a question that could benefit other users running into the same problem.
Not everyone uses GitHub, many people just pip-install.
If it's not too much work, could you copy your question there.
I'll copy the answer as well, so that other people can easily find it.
No obligation of course!!

[2017-01-08 17:03] johanfforsberg commented on #254
Thanks for the quick reply!

I verified that it works, and I can definitely live with the workaround.

I guess this kind of problem is likely to appear elsewhere too. Is this something that might be possible for the compiler to warn about, if it can't be "fixed"? It's a pretty small issue but can be annoying to figure out.

Anyway, I think transcrypt is a very neat project which I'm going to play

[2017-01-08 17:43] JdeH commented on #254
Unfortunately, since Python is dynamically typed, the compiler cannot tell whether <something>.clear () correct or not.

Take a loop like like:

[code]
Where aList may contain gl objects as well as dict instances.
The compiler cannot predict what it will encounter.
Hence unfortunately it cannot tell wether or not 'clear' is corrrect.
It only discovers at runtime and the contents of aList may vary

[2017-01-08 18:00] JdeH commented on #254
Things like this should become part of a troubleshooting list in the docs.

[2017-01-09 14:10] JdeH opened #255 "Autotest gives non-specific error"
When errors were in a testlet, message "No Valid UI instance yet" was shown.
This made it very hard to find the cause of that feat.
So I made it reraise the original exception.

[code]

@RCL-Carl, since you're the subject owner on this: Is that OK for you?
Or is something more clever needed.
I can very well live with this now.

KR
J

[2017-01-09 14:32] JdeH commented on #251
Hi,

The `globals ()` thing was actually quite hard.
I think the main functionality is captured now.

Very brief:

In the same module:
   -  globals () can retrieve all vars, wether created via globals () or in the normal way
   - vars created via globals () can only be retrieved by globals (),  not as a normal var

From a different module:
   - globals () can retrieve all vars, wether created by

[2017-01-09 14:36] #251 closed

[2017-01-09 17:10] RCL-Carl commented on #255
Yes - that is the better way to manage this. I think part of the problem is when the Python implementation has an issue and there is no UI at all to setup.

[2017-01-09 17:10] #255 closed

[2017-01-09 17:33] JdeH commented on #255
Ok, thanks!

[2017-01-10 01:19] AXGKl commented on #251
absolutely amazing. thanks !!

[2017-01-10 08:08] daboross opened #256 "Parentheses aren't translated"
This seems like something we might want, I seem to remember there being an existing issue about this but I couldn't find it. I noticed this recently, when creating a function which accepts multiple types of parameters. Here's a simplified example:

[code]
This is translated into the following (incorrect) JavaScript code, which returns an object's color scheme rather than the intended boolean outpu

[2017-01-10 08:17] JdeH opened #257 "Speed up cleaning repo with shipment test by adding -b (--blind) option."
Running the shipment test with the -c option will clean the repo by deleting all generated files based on a date/time check.

While this works fine and automatically does the right thing without the need to maintain explicit lists, it is slow since in order to view test results a browser is started and many tabs are openend.

The -b option prevents starting the browser. So running the autotest wit

[2017-01-10 08:27] JdeH commented on #256
That's a tricky one!
Amazing how these things keep coming out.
Putting parenthesis around every boolean or logical expression seems overkill.
Since CPython does it right, the AST must hold enough info to solve it.
I'll look into it a.s.a.p.

[2017-01-10 09:41] daboross commented on #256
OK, awesome! I'm also looking around, but there doesn't seem to be any easy way to get the info on what parentheses were used in the source.

If that's the case, do you think this could also be solved by storing contextual data on what the 'parent' node is? Maybe with some kind of 'order of priority' list, where if a parent has a higher priority than a sub node, surround it in parenthesis. I'm not

[2017-01-10 09:58] JdeH commented on #256
Fixed and committed compiler.py:

[code]

Testcase added to div_issues testlet, python:

[code]

JavaScript:

[code]

[2017-01-10 09:58] #256 closed

[2017-01-10 10:00] daboross commented on #256
Ok, thanks!

[2017-01-10 10:23] #246 closed

[2017-01-10 10:23] #254 closed

[2017-01-10 10:23] #257 closed

[2017-01-10 11:55] JdeH commented on #249
Hi,

(Status: added and commited)

In order to keep Transcrypt lean, initially only the arithmetic operators were overloadable, since there was a clear usecase (NumScrypt).

Since it doesn't make the \_\_builtin\_\_ module much larger, I've added the bitwise ops.
Hopefully this covers your usecase, if not let me know.

In general Transcrypt tries to follow Pareto's rule: A reasonable balance betwe

[2017-01-10 11:56] #249 closed

[2017-01-10 12:37] JdeH opened #258 "Closing postponed issues"
The [postponed] issues (issues that we're unlikely to work on soon) are starting to clutter the issue list too much, since by nature they will be on it longer than the rest.

Therefore I will close them, which means they are just moved to "the other category". Since they all share the same label they can easily be retrieved and searched.

If anyone wants to work on a postponed issue, just react on

[2017-01-10 12:38] #129 closed

[2017-01-10 12:38] #132 closed

[2017-01-10 12:38] #189 closed

[2017-01-10 12:38] #232 closed

[2017-01-10 12:38] #244 closed

[2017-01-10 12:40] JdeH commented on #115
Some important libraries like re, math, cmath, itertools and random have been added. I think sys is to much desktop-oriented to add, so I'll close this issue.

[2017-01-10 12:40] #115 closed

[2017-01-10 12:43] JdeH commented on #48
I don't expect this to be handled anytime soon, so I've added the label postponed and will close it again.
Motivation: #258.
Postponed issues can easily be searched since they share the same label.

[2017-01-10 12:43] #48 closed

[2017-01-10 12:44] JdeH commented on #62
With ref to issue #258, not expecting to work on this anytime soon.

[2017-01-10 12:44] #62 closed

[2017-01-10 12:45] JdeH commented on #33
With ref to issue #258

[2017-01-10 12:45] #33 closed

[2017-01-10 12:46] JdeH commented on #26
With reference to #258

[2017-01-10 12:47] JdeH commented on #182
I can live with this and wouldn't know a lean way to solve it.
Feel free to reopen if you know a solution for the backslash limitation.

[2017-01-10 12:47] #182 closed

[2017-01-10 12:56] JdeH commented on #135
Hi

Still working on this or should I postpone + close or withdraw + close this?

KR
J

[2017-01-10 16:53] JdeH opened #259 "Autotest for regular expressions has fallen over"
Today I discovered that the re autotest isn't yet part of the shipment test.

When I ran it separately, there were some errors. Are these just things that are not yet implemented and should I outcomment them, or has something fallen over indeed.

@RCL-Carl @GULPF Since you're more familiar with this code, could any of you give me a hint.
Probably I should add a command line switch or something?
I'

[2017-01-10 17:13] RCL-Carl commented on #259
Yes - that test has never been fully passing. There is a bug in the translation of conditional groups in the python regex to the javascript regex. The translation works but the number of groups detected is much larger than the python conditional regex would predict. In the closed issue thread (Issue #98), there are some comments by @GULPF about what could info could be used to fix it. I have not h

[2017-01-10 17:28] JdeH commented on #259
Well, seems I was to quick with #98, should have read better...

For now I'll outcomment the offending tests, since having most of re in the regression test suite will prevent things falling over that first worked.

I'll reopen the original issue and close this one.

KR
K

[2017-01-10 17:28] #259 closed

[2017-01-10 17:31] JdeH commented on #98
Some points left afterall, so I've reopened it.
Will outcomment small parts of the re autotest, using @JdeH label, to be enable finding and restoring them easily.

[2017-01-10 19:54] JdeH commented on #98
Module re now part of shipment test for Py3.5 an Py3.6.
Some parts commented out, all marked with @JdeH.
CI tests gives still errors for Py3.6, so re module commented out there.

Seems like it's largely functioning, but some strange things happen,
especially when autotesting `checkMatchWithNamedGroups(test)`.
This causes an error at the end of the whole autotest.
Tried quite some things, but no cl

[2017-01-12 00:30] daboross commented on #135
I have a bit, but I haven't done too much work on getting it actually working recently.

Feel free to postpone+close, I can comment to reopen if/when I get something actually complete!

[2017-01-12 07:51] JdeH commented on #135
Ok!

KR
J

[2017-01-14 08:06] daboross opened #260 "Transcrypt fails to find relative imports"
Of a low priority to me, but thought I'd report this anyways. Relative imports (`from .mod import ...`) don't seem to work in Transcrypt, and produce a 'could not find' error.

Test case:

`main.py`:
[code]
`parentmod/__init__.py`:
[code]
`parentmod/childmod.py`:
[code]

Running `python main.py` works as expected, but trying to transcrypt `main.py` results in the following error:

[code]
[code]

[2017-01-14 08:18] daboross commented on #260
Another test case with slightly different error message:

When `parentmod/__init__.py` is written as:
[code]

Transcrypt fails with:
[code]
This also works fine with `python main.py`.

[2017-01-15 20:40] bradiso opened #261 "UTF-8 'à' characters"
Hi,

I'm having issue with 'à' character.

Python UTF-8 file
test = "àâäéèêëiîïoôöùüû"

gives

Javascript UTF-8 file
var test = 'Ĝxa0âäéèêëiîïoôöùüû';

Thanks

[2017-01-16 09:21] geatec commented on #261
That's a weird problem!
Have not yet been able to solve it, but posed the following question on StackOverflow:

o generate JavaScript from Python in the Transcrypt Python to JS compiler, Python 3.5's ast module is used in combination with the following code:

[code]
This works fine e.g. for the following line of Python:

`test = "àâäéèêëiîïoôöùüû"`
which is correctly translated to:

`var test = 'â

[2017-01-16 09:24] JdeH commented on #261
That's a weird problem!
Have not yet been able to solve it, but posed the following question on StackOverflow:

To generate JavaScript from Python in the Transcrypt Python to JS compiler, Python 3.5's ast module is used in combination with the following code:

[code]
This works fine e.g. for the following line of Python:

`test = "àâäéèêëiîïoôöùüû"`

which is correctly translated to:

`var test =

[2017-01-16 11:11] JdeH commented on #261
o open a Python file for parsing, use

tokenize.open
rather than the ordinary

open
function.

It will open, read the pep263 coding hint and return the open file as if it were opened by the ordinary open using the right encoding.

Quite hard to find, not currently in the Green Tree Snakes doc. Actually found in by searching for 'coding' in the CPython sources on GitHub.

[2017-01-16 11:14] JdeH commented on #261
Fixed & committed.
Thanks for reporting!

Jacques

[2017-01-16 11:14] #261 closed

[2017-01-16 11:18] JdeH commented on #260
Relative imports have not been added.
The import mechanism was deliberately simplified.
Currently I'd say: lets leave it out.

@daboross You indicate low prio for you. Anyone else really wants to have this? I'd rather not, but always open to good arguments...

KR
J

[2017-01-16 11:49] bradiso commented on #261
Faster than light ^^
Thanks a lot.

Just when I found a dirty hack you fixed it :)

My useless hack :
    def visit_Str (self, node):
        import json
        self.emit('{}', json.dumps(node.s, ensure_ascii=False))

[2017-01-16 11:57] JdeH commented on #261
Well, if I hadn't found it, I would have appied a hack myself...

[2017-01-16 12:16] fzzylogic commented on #261
50c.. I'm using "Windows Subsystem for Linux" on Win 10 with anniversary update, which basically gives you a bash shell under windows. I started using it a while ago because I was having issues transcrypting certain unicode characters under the windows command shell. Transpiling your test string under the bash shell returns the correct results..

So i went to the normal windows command prompt and

[2017-01-16 12:25] JdeH commented on #261
@fzzylogic : To make it work for utf-8 I actually should have applied @neriusmika 's fix on two places. But with the current fix (on two places) it will work for any encoding.

KR
J

[2017-01-16 12:40] JdeH commented on #105
Transcrypt currently works with an old version of mypy that can't benefit from the 3.6 syntax additions.
Since I am using a homebrew API to connect to Transcrypt to mypy, I'll leave it that way for a while.
But I've contributed module api.py to mypy which is already in the docs. As soon as it is in the distribution, I'll attempt to upgrade Transcrypt to use the newest version of mypy.

[2017-01-16 14:16] bradiso commented on #261
Hi again,

It's not working as expected for me. Maybe I'm missing something.

Attached a ZIP archive containing a basic test case.
[issue.zip](https://github.com/QQuick/Transcrypt/files/708590/issue.zip)

The bad.js provided is transpiled from previous Transcrypt version (the one before this commit), because the newer refuses to do the job.

Thanks

[2017-01-16 14:22] bradiso commented on #261
oops, <html> is missing in index.html but it is not what makes it wrong.

[2017-01-16 15:35] JdeH commented on #261
I've tried the following code:

[code]

Note the comment with the error message. What this means is that CPython 3.5 seems to think that while the byte sequence resulting from encoding  'à' is part of the regular utf-8 chars,  the byte sequence resulting from encoding '₩' isn't part of the code page but rather maps to undefined.

KR
Jacques

[2017-01-16 15:56] bradiso commented on #261
Many thanks for your responsiveness. So meanwhile I use my dirty hack with your previous commit.

KR

[2017-01-16 16:30] JdeH commented on #261
Seems this is a Windows problem:

[Answers on stackoverflow ](http://stackoverflow.com/questions/41680270/python-3-5-cant-decode-korean-won-currency-symbol?noredirect=1#comment70558525_41680270)

[2017-01-16 17:07] bradiso commented on #261
Yes, I know outputing UTF-8 to Windows terminal is prone to error on Windows, that's why is prefer use a file to output.

repr (node.s) output is wrong, while json.dumps(node.s, ensure_ascii=False) is right.

I tested it on bigger project and it's ok. I can't say what's wrong with repr.

Try it (compiler.py on commit  9040707) :

    def visit_Str (self, node):
        import json
        with ope

[2017-01-16 17:09] bradiso commented on #261
So finally, this is working fine for me :

    def visit_Str (self, node):
        import json
        self.emit('{}', json.dumps(node.s, ensure_ascii=False))

[2017-01-16 17:32] bradiso commented on #261
This is working with repr, looks like file output has to be opened with argument encoding='utf-8'

[code]

[2017-01-16 17:33] JdeH commented on #261
I've tried on Linux, there it works fine.
So it's indeed a Windows code page problem.
I'll keep your hack in mind for emergencies...

[2017-01-16 17:45] JdeH commented on #261
@bradiso Your latest comment REALLY seems to solve the problem!!

Since I also want it to work for other encodings, I'll still have to find out the encoding of the source file.
Or just bluntly encode the target as utf-8 anyhow.

This is coming close to a solution.

[2017-01-16 18:03] bradiso commented on #261
Glad it helped. Your transpiler is wonderful and it deserves to be known among Python community. Big javascript code maintenance is a pain. I'm going to rewrite javascript source files to Python when I have to modify it.

[2017-01-16 18:37] JdeH commented on #261
All target files are now utf-8

In transcrypt/modules/org/transcrypt/utils.py, line86:
[code]

This seems a solid solution, utf-8 should be able to code anything, so no other output codings needed.
Thanks for the contribution!

[2017-01-18 08:31] fzzylogic commented on #261
@bradiso Thanks for contributing towards this. Works my side too, which makes me very happy :-).

[2017-01-18 16:22] JdeH opened #262 "Please get involved in this discussion..."
[Link to wikipedia draft about TS](https://en.wikipedia.org/wiki/Draft_talk:Transcrypt)

[2017-01-21 03:42] RunasSudo opened #263 "@classmethod does not pass arguments as in Python"
MWE:

[code]

In python, this prints:

[code]

The first argument passed to `a_class_method` is the class on which `a_class_method` was called, `AClass`, and `this` is unsurprisingly not defined.

In Transcrypt 3.6.4, however, this prints:

[code]

In other words, Transcrypt did not pass the class as the first parameter, and passed it instead in `this`. This means that `@classmethod`s do not work

[2017-01-21 13:41] JdeH commented on #263
Good point!

The following comment in /modules/org/transcrypt/compiler.py:

[code]

is overly optimistic. It just doesn't work, after all.

So generally, method decorators are not (yet) in. I've attempted to implement them but got stuck on this first attempt. However there's a postponed issue about this and someone working on it: Possibility for method decorators? #135. It is a courageous attempt

[2017-01-22 11:05] #262 closed

[2017-01-22 14:51] jonathan-arrender-smith opened #264 "results different c-python vs transcrypt"
Run the following in python 3.5 and transcrypt. The results are quite different.

[code]

[2017-01-22 17:08] JdeH commented on #264
Thanks!

We'll look into this a.s.a.p.

[2017-01-22 20:06] neriusmika commented on #264
The problem is with list concatenation. You need to use `extend()` or opov pragma in transcrypt. Just change your code to:

[code]

[2017-01-22 20:30] neriusmika commented on #264
By the way, even if you use opov, += operator doesn't work correctly. I think that `Array.prototype.__add__` must be fixed or `Array.prototype.__iadd__` added.

[2017-01-22 22:43] artelse opened #265 "Failed to find module"
Have seen more problems with module loading, but haven't found a solution. When it try to transpile with `transcrypt -b driver.py` I get this error:

[code]
It seems to balk on an `import socket` or on another file it falls over `import struct`. Any ideas how to resolve?

[2017-01-23 07:35] JdeH commented on #264
@neriusmika
+= and friends are not yet part of Transcrypt, since I considered them secundary, offering only slight notational convenience. Since &, ^ and / have now also been added, I'll add += etc. as well. I'll make __builtin__ slightly larger, but as more JS5 workarounds will be replaced by JS6 code, it'll shrink again.

@jonathan-arrender-smith
Indeed for efficiency reasons operator overloadin

[2017-01-23 08:00] JdeH commented on #265
Hi,

It seems that module driver.py uses a module called _socket that indeed it can't find.
I don't know exactly what the problem is since I am not familiar with those modules but note the following:

- Transcrypt doesn't come with the usual set of standard libraries (with some exceptions like math, cmath,, random, itertools, loggin, re). Instead it is able to use any JavaScript library.

- Librar

[2017-01-23 19:19] artelse commented on #265
Thanks for the explanation on inherent limitations.

[2017-01-27 22:03] keithxemi opened #266 "Virus in zip file"
Microsoft Security Essentials reports Trojan: Win32/Spursint.F!cl in the file Transcrypt-master.zip and Transcrypt-3.6.4.zip https://www.microsoft.com/security/portal/threat/encyclopedia/entry.aspx?name=Trojan%3aWin32%2fSpursint.F!cl&threatid=2147717281&enterprise=0

[2017-01-27 22:30] JdeH commented on #266
Thanks!

Will look into this a.s.a.p..

Kind regards
Jacques

[2017-01-28 10:17] JdeH commented on #266
Hi Keith

First I've scanned both files with ESET NOD32.

After that I've installed Windows 10 with the newest version of Windows Defender.
I scanned both files again with Windows Defender, after downloading them from GitHub and PyPi.

In addition to this I scanned my whole Transcrypt working directory with Windows Defender.

Unfortunately (or fortunately) I could not reproduce your findings.
Migh

[2017-01-28 12:02] keithxemi commented on #266
Perhaps this is unique to Windows 7? I have no problem with other zip downloads. Here is the detail from MSE with the specific file name in both zips:
Items:
containerfile:C:\Users\Keith\Downloads\Transcrypt-3.6.4.zip
file:C:\Users\Keith\Downloads\Transcrypt-3.6.4.zip->Transcrypt-3.6.4/transcrypt/demos/cyclejs_demo/component_demos/labeled_slider/labeled_slider_js_orig.js
webfile:C:\Users\Keith\Dow

[2017-01-28 13:03] JdeH commented on #266
I've scanned the file labeled_slider_js_orig.js separately bu I am unable to reproduce the problem.
Since I don't have Windows 7 at my disposal but your report is quite clear and I am curious what's going on. Anyone else experiencing this problem on Windows 7?

@keithxemi
Could you please mail one of the infected files to jdeh@transcrypt.org, allowing me to investigate further.

[2017-01-28 17:44] keithxemi commented on #266
I have submitted my downloaded zip to https://www.virustotal.com/ and  https://virusscan.jotti.org/ with the same results, nothing found. I cloned this repository and scanned with Microsoft SE and found no virus. So I can use the clone files with no worry and I believe this is probably a false positive. As you say the flagged file is just plain js. However, that gmail also refused to attach the zi

[2017-01-28 18:29] JdeH commented on #266
Some mail programs don't want executable attachments. I have the same sometimes with Python source code. For now I'll close this issue. Should there be any reason for it, feel free to reopen.

[2017-01-28 18:29] #266 closed

[2017-01-30 12:04] boxed opened #268 "Error messages seem to point to the wrong place"
[code]

My file python_tea.py doesn't have an import of _weakref, so the error message pointing me to "line 5" isn't helpful. It seems like I import a lib, that imports a lib, that imports a lib that imports _weakref. The error message should give me such a traceback I think, or at least point to the place the import is done, not my code.

[2017-01-30 12:15] JdeH commented on #268
That's not as it should be indeed.
We'll look into that.

Thanks for the feedback!

[2017-01-30 15:51] JdeH commented on #268
I've committed fix for this.
Could you confirm that it works for you?

Kind regards
Jacques

[2017-01-30 21:00] daboross opened #269 "from x import y statements cause errors when used within a function"
I believe this is due to Transcrypt trying to export modules imported only within a specific function?

Test code: `inner/__init__.py` is empty.

`inner/moda.py`:

[code]

`inner/modb.py`:

[code]

`main.py`:

[code]

Output:
[code]

Generated `main.js`: https://gist.github.com/daboross/2ae5db3f25356372c00253f551c93754

This does not occur if `moda.py` and `modb.py` are top-level modules, and only

[2017-01-31 14:25] JdeH commented on #269
Hi David

Because Transcrypt is precompiled rather than interpreted, all imported modules have to be known statically at compilation time, so they will be included in the generated JS.

This means that module imports cannot take place in a function, since they then should only occur when that function is called, which is determined at runtime rather than compiletime.

The Transcrypt differs from t

[2017-01-31 15:41] TNT-Samuel opened #270 "import socket"
I cannot use the python socket module
It says:

C:\Users\Owner\Desktop\Coding Projects\chatserver>Transcrypt import_test.py -b
Transcrypt (TM) Python to JavaScript Small Sane Subset Transpiler Version 3.6.4
Copyright (C) Geatec Engineering. License: Apache 2.0

[code]

------------------------------------------------------------------------------------------------
Python File:

[code]

[2017-01-31 16:46] JdeH commented on #270
Hi,

Some tips:

- Transcrypt is a compiler, rather than an interpreter this means that imports are done compile time, to be able to compile also the imported modules. Since they are compile-time, they cannot be runtime conditional, generate runtime exceptions etc.. If you need compile time condional imports use \_\_pragma\_\_ ('ifdef', ... which works compile time
- You'll need websockets rather

[2017-01-31 17:54] TNT-Samuel commented on #270
thx

[2017-01-31 18:03] JdeH commented on #270
Since your question could also help others, could you repost on stackoverlflow under the [transcrypt] label.

http://stackoverflow.com/questions/tagged/transcrypt

No obligation of course, just if you find the time.

[2017-01-31 19:54] boxed commented on #268
It's a bit weird the new error in my case at least:

[code]
but it's understandable and workable at least.

[2017-01-31 23:28] daboross commented on #269
Thank you for the detailed information!

With this architecture, it makes complete sense to not allow cyclical imports that are at a module-level, however, I would think that it should be technically possible to allow cyclical imports when one of them is within a function - or at least allow imports within a function that aren't cyclical.

The original case I ran into this did not have any cyclica

[2017-01-31 23:40] daboross commented on #269
If it doesn't break anything else, the PR I submitted should fix this issue.

[2017-02-01 03:53] jarradh opened #272 "Cannot find module?"
I created a file that imports my pure python module and runs a function, my hopes where to run transcrypt  on this and get my module as a javascript file with my example function as a hook into it.

Unfortunately it appears to `Attempt to load module ... Can't find any of  ....` error.

Unsure what I am doing wrong or how can I transcrypt a module ?

[2017-02-01 08:08] JdeH commented on #272
Hi

Sounds like what you want should be entirely possible.
Could you give me what's on the dots, so the exact, complete error mesage.
Also I'd like to know which Transcrypt version you're using.

Kind regards
Jacques

[2017-02-01 08:21] boxed opened #273 "Transcrypt fails on "a, b, *c = foo" style destructuring"

[2017-02-01 08:23] jarradh commented on #272
Thanks for the timely response.

https://github.com/ethereum/viper is the package

test.py:
[code]

and the output

[code]

[2017-02-01 08:23] boxed commented on #268
Actually, after looking at this a bit more I don't think the error is good enough. A stack trace style error would be vastly superior. The problem now is that you get the error message only on the last file.

[2017-02-01 08:56] JdeH commented on #269
Both your diagnosis and your proposed solution are right.
Importing inside a function prevents endless recursion at initialisation.
And indeed, since the imported names are local to the function, they shouldn't be exported, which can be done by a scope check.

[2017-02-01 08:59] #269 closed

[2017-02-01 09:57] JdeH commented on #268
With regard to the error message in your example:

what exactly do you mean by:

It tells you that the error is in line 5 of module `_weakrefset`,

which can be reached from your main module by the qualified name:

`pyrsistent.pyrsistent._pmap.collections._collections_abc.abc._weakrefset`

Seems to me that exactly pinpoints the error.
But probably am I missing something important.

What informatio

[2017-02-01 10:04] TNT-Samuel commented on #270
Do you know any python libraries that i can use as websockets does not work as it requires sys

[2017-02-01 10:23] JdeH commented on #273
This is currently a limitation, and one I hadn't noticed at that, so thanks!

Transcrypt's destructuring mechanism was designed before JS6 came out, supporting its own flavor of destructuring.
The result is that destructuring code currently is more verbose than needed if compiled to JS6.
The plan is to wait until JS6 has spread more widely, and then improve the TS destructuring mechanism to as muc

[2017-02-01 10:23] #273 closed

[2017-02-01 10:31] JdeH commented on #270
You should use the Python websockets package only on the server side, so not with Trancrypt.

What I meant is that on the client you should use JavaScript websockets functionality as decribed a.o. at the following locations:

https://developer.mozilla.org/en-US/docs/Web/API/WebSocket

and

https://www.tutorialspoint.com/html5/html5_websocket.htm

[2017-02-01 10:39] fzzylogic commented on #272
Hi

Interesting project by the way.

There are some differences in the way Transcrypt handles module imports that are [documented here](http://sterlicht.alwaysdata.net/transcrypt.org/docs/html/special_facilities.html).

It may be useful to see how some [existing pure python modules](https://github.com/QQuick/Transcrypt/tree/master/transcrypt/modules/) have been handled.

I noticed that parser.py r

[2017-02-01 11:25] JdeH commented on #272
Due to your imports, Transcrypt is looking for viper.py. Since it can't find that it assumes that viper is a JS-only module and it starts looking for viper.mod.js.

Seems it's looking for viper.py in the wrong places.
From the error report you can deduce where it has been looking before it assumed that viper was a JS-only module and started to look in all those __javascript__ subdirectories.

It w

[2017-02-01 11:26] #265 closed

[2017-02-01 11:27] #263 closed

[2017-02-01 11:29] JdeH commented on #186
For now labeled as postponed (see issue #258 for what this means)

[2017-02-01 11:29] #186 closed

[2017-02-01 12:35] boxed commented on #268
Well it's sort of like an ImportError so you'd want the lines of the imports leading up to it. So something like:

foo.py:5
pyrsistent.py:8
_pmap.py:2
Etc

Hopefully with full paths to the files. Another problem I have is that the code I'm trying to use does try/importerror but the transcrypt compiler goes through it all of course. I have to create stub files with "raise ImportError" in them :P

[2017-02-01 13:33] TNT-Samuel commented on #270
thanks for the great support!

[2017-02-01 14:03] boxed opened #274 "SyntaxError: Cannot delete unqualified property 'foobar' in strict mode."
Deleting local variables is translated to the javascript command to delete a variable:

[code]

becomes

[code]
but that's not legal in modern javascript: http://stackoverflow.com/questions/16652589/why-is-delete-not-allowed-in-javascript5-strict-mode

[2017-02-01 14:08] boxed opened #275 "__new__ with calls to super results in errors"
I'm trying to use functools.partial but it has a `__new__` with a call to super. The resulting code is:

[code]

which gives me the error message "SyntaxError: super is not valid in this context."

[2017-02-01 14:12] boxed opened #276 ""a @= b" is translated to "a None= b""
A crash with "unsupported syntax" would have been preferable :P

[2017-02-01 14:15] boxed commented on #276
And `@`  by itself is translated to `None`

[2017-02-01 14:15] boxed commented on #276
...and `**` and `**=`

[2017-02-01 14:33] boxed commented on #275
Ah, just saw #26. Closing this.

[2017-02-01 14:33] #275 closed

[2017-02-01 14:35] JdeH commented on #275
Maybe it's time to have super ().
BTW your feedback is super!

[2017-02-01 14:35] boxed commented on #26
This is pretty important I feel, but even more important is to fail in a nice way when hitting this. Now it transpiles without errors but Safari gives me an error on loading the .js file.

[2017-02-01 14:38] boxed commented on #275
Yea, I think you need super() for most non-trivial code.

Thanks! I am working on a test run of implementing the Elm architecture with transcrypt+pyrsistent. Turns out pyrsistent uses quite a bit of the standard library that transcrypt doesn't support so I'm working my way around one obstacle at a time... hopefully it's workable. I'd hate to have to reimplement or fork pyrsistent.

[2017-02-01 14:48] JdeH commented on #276
Many ?= operators were initially left out to keep things lean.
But since they are repeatedly missed, they will be added (issue #264)
Same holds for **, so it will be added in a nearby commit.

[2017-02-01 14:51] JdeH commented on #274
Quite right, it can only be used for methods and attributes.
Will look if there's a simple way to detect the case above and give decent error report.
Expected to be no problem.

[2017-02-01 14:52] JdeH commented on #275
Which parts of the standard lib are you missing most?
We're looking into gradually supporting standard lib support.

[2017-02-01 14:58] JdeH commented on #26
We'll have super (), it's not that much extra core code.

[2017-02-01 15:41] boxed commented on #274
Just not generating the delete is probably fine.

[2017-02-01 15:45] jarradh commented on #272
yeah there is no such thing as viper.py,
it's an egg and installed via `python setup.py install`

as for dependencies they can mostly be cleaned up or made pure if it's possible to transpile

[2017-02-01 15:52] boxed commented on #26
Awesome.

[2017-02-01 19:59] boxed commented on #275
datetime seems pretty obvious to me. For pyrsistent I've created stubs for _operator, abc, builtins, collections, functools, operator, os, sys so far and I just hit collections.abc. It's a bit spaghetti how stdlib modules depends on each other :P

[2017-02-02 02:42] daboross commented on #269
Thanks!

[2017-02-02 07:38] boxed opened #277 ""new" is not a keyword in python, but in JS, should rename it?"
I had some code like

[code]
the second line is translated into `var new = ...` which of course is invalid. Maybe just rename it "new_"?

[2017-02-02 08:13] boxed commented on #269
I seem to have hit this problem, even though this ticket seems to imply it's fixed...

[2017-02-02 08:29] boxed opened #278 "Missing builtin: bin"

[2017-02-02 08:38] boxed commented on #278
And no `.format` on strings which was the workaround I tried first...

[2017-02-02 10:34] daboross commented on #278
`bin` doesn't seem too hard to implement! `.format` on strings does exist though, and works well for me - what are you trying specifically that doesn't work?

[2017-02-02 10:40] boxed commented on #278
[code]
got an error that format didn't exist.

[2017-02-02 10:43] boxed opened #279 "TypeError is a class in python, but seems to already exist in JS, creating a conflict"

[2017-02-02 10:44] daboross commented on #278
[code]
works for me, at least in terms of the function existing.

The format implemented by Transcrypt is fairly light-weight, and I don't believe it supports anything besides the basic `{}` and `{x}` syntax. That string is formatted just directly as `{0:b}`, but it does not error for me.

How are you compiling/running the code?

[2017-02-02 10:46] boxed commented on #278
Ah crap, yea you're right. It does exist (although gives the incorrect output as you say). It really should fail on unsupported formatting options I think.

My problem was that str.count didn't exist. I misread the error.

[2017-02-02 10:50] daboross commented on #278
Yeah, it definitely isn't a full implementation of the Python format function, it does work for, well, I guess very basic formatting. Doesn't look like it checks for formatting options at all (implemented at https://github.com/QQuick/Transcrypt/blob/master/transcrypt/modules/org/transcrypt/__javascript__/__builtin__.mod.js#L1063).

[2017-02-02 11:36] boxed commented on #203
I don't think it's ok :P

At least fail on it, so I know I have to work around it.

[2017-02-02 14:12] JdeH commented on #278
The Python mini-formatting language was not implemented, mainly to keep the code lean.
If it's implemented, it (and similar functions) should probably in an extension module.
I feel I'll have to come up with a basic concept first.
If it's in an extension module anyone willing can work on it.
Currently I'll label it as a postponed enhancement.
This means I'll close it, but see #258

[2017-02-02 14:12] #278 closed

[2017-02-02 14:15] JdeH commented on #279
Indeed.
An alias is needed.

[2017-02-03 12:13] boxed commented on #102
This is another case of the transcrypt compiler not giving an error on code it doesn't support and instead creates broken code. I'm fighting this problem with kwargs right now.

I'm starting to feel that the design of transcrypt has to be fundamentally broken, because this type of thing has happened to me a LOT now. It's fine to not support stuff, but silently failing in hard to debug ways isn't f

[2017-02-03 12:53] JdeH commented on #102
Many things  in Transcrypt are under command line switches or pragma's. Kwargs is one such thing. The reason that these things are optional is that the code they generate with current JS facilities is bulky. With JS supporting more and more of those Python-like things, the need for switches will diminish.

But then there indeed is the question of reporting. The problem here is that support of kwar

[2017-02-03 16:12] JdeH commented on #26
I've been playing with this and I think the C3 algorithm adds quite some overhead.
Signaling the use of super () on the other hand isn't hard, provided no attempt is made to take the context into account.

The manual

https://docs.python.org/3/library/functions.html#super

says the following:

The manual refers doesn't the second case in detail, but refers to the article mentioned below under 'Opi

[2017-02-03 16:29] kovidgoyal commented on #26
I'll just note that as far as the DRYness of super() is concerned, that is trivially achieved, by aliasing

[code]

Now you only need to rename SomeClass in one place. Not to mention that with modern refactoring tools, renaming a class everywhere it is used is trivial to do, except in the very rare case of a codebase with lots of difference classes all named with the exact same name.

Also IMO eve

[2017-02-03 17:04] JdeH commented on #277
Will create an alias for that.
In line with other aliases will call it py_new.
So name `new` in Python will generate name 'py_new' in JS.
And the `__new__ `function covers the use of the `new` operator in JS.

[2017-02-03 17:09] JdeH commented on #274
Yes, that's best, since it doesn't alter semantics.

[2017-02-03 17:10] boxed commented on #26
Maybe I missed something but I didn't understand why put it behind a switch. Supporting the single inheritance case seems like a no brainer and not doing it severely limits the usefulness of transcrypt as most OO code with even one inheritance should have a super().

[2017-02-03 17:13] boxed commented on #26
Kovid can argue as much as he want, this isn't a debate on pythons design choices. Super is used in idiomatic Python code. That's a simple and obvious fact. If you are trying to make Python run in the browser you need to target Python, don't you?

Otherwise please don't call Transcrypt Python.

[2017-02-03 17:15] boxed commented on #277
Great!

[2017-02-03 17:15] boxed commented on #274
Unless someone does something crazy like inspecting locals() but that's a bit of an edge case :P

[2017-02-03 17:16] JdeH commented on #26
As said it's started out as a Small Sane Subset, but now covers a large part of the language.
But it will never be as complete as PyPyJs.

[2017-02-03 17:21] JdeH commented on #274
Well, the only thing to be a bit worried about here, is that a developer may think he frees a lot of memory, while actually he don't...

[2017-02-03 17:21] JdeH commented on #277
Just forgot...

[2017-02-03 19:14] JdeH commented on #279
Fixed and committed
Feel free to reopen if not OK

[2017-02-03 19:14] #279 closed

[2017-02-03 19:15] JdeH commented on #274
Fixed and committed
Feel free to reopen if not OK

[2017-02-03 19:15] #274 closed

[2017-02-03 19:16] JdeH commented on #277
Fixed and committed
Feel free to reopen if not OK

[2017-02-03 19:16] #277 closed

[2017-02-03 19:17] #270 closed

[2017-02-03 19:56] boxed commented on #274
Awesome.

You guys are impressively quick I must say!

[2017-02-04 15:46] JdeH commented on #26
A restricted form of `super ()` has been committed.
It deals with most cases, even in a diamond hierarchy, while being fast and lean.
It is described in it's autotestlet:

http://sterlicht.alwaysdata.net/transcrypt.org/docs/html/supported_constructs.html#super

[2017-02-04 15:46] #26 closed

[2017-02-04 15:47] JdeH commented on #26
As ever feel free to reopen if anything wrong.

[2017-02-04 16:05] sebnozzi opened #280 "Support PEP 526 -- Syntax for Variable Annotations"
Currently this code:
[code]
gets compiled to this:
[code]
PEP 526 is here: https://www.python.org/dev/peps/pep-0526/

[2017-02-04 16:15] JdeH commented on #280
Wow, that's bad.
Will repair, thanks!

BTW. The newest version of mypy will be bundled as soon as it's out, since it will contain an improved version of the API that will connect it to Transcrypt.

http://mypy.readthedocs.io/en/latest/command_line.html#integrating-mypy-into-another-python-application

The original API was found too intrusive by Guido, so it was replaced by this simple one.

https:

[2017-02-04 16:24] boxed commented on #26
As ever: amazing turn around time!

[2017-02-04 16:37] sebnozzi commented on #280
@JdeH Wow, thanks for the mega-quick response.

I am "new" to Python. That's why I went straight to the latest: 3.6.0.
My Transcrypt version is: 3.6.8 (installed via Pip).

As far as my little experiments go, I can confirm that mypy (0.470) also has problems with type-annotations in variables (it reports a parse error). The Python interpreter itself (the 3.6 version) of course has no issue. And th

[2017-02-04 16:41] sebnozzi commented on #280
I also want to take the opportunity to thank you and all who make this project possible! :-)

As a web developer with a background in statically-typed languages and a fondness to whatever-to-JavaScript compilers the existence of this Python 3.6 (with optional type annotations) to JavaScript is enormously appreciated.

[2017-02-04 17:05] JdeH commented on #280
The  questionmark behind is:bug? isn't meant to express doubt that failing to generate code for `x: int = 3` is a bug, it clearly **is** a bug. It only means that' we haven't yet reproduced it (since we didn't try, that is). So it's just a stage in our quality assessment pipeline.

About the statically typed languages: I have been programming in C++ from its birth, and before that in Pascal and Al

[2017-02-04 18:59] JdeH commented on #280
Committed an experimental fix for this to GitHub (but not yet on PyPi.)
Feel free to reopen if there are still problems.

Annotation-support for 3.6 is still incomplete.
Will get priority as soon as next version of mypy is released.

[2017-02-04 18:59] #280 closed

[2017-02-04 21:32] sebnozzi opened #281 "Multiplicating a list results in NaN"
It seems that duplicating a list through multiplication (e.g. `[1,2,3] * 2` which in Python normally results in `[1,2,3,1,2,3]`) does not work as expected.

I tried this:
[code]

This was the result on the JavaScript console:
[code]

[2017-02-04 21:49] sebnozzi commented on #280
Thanks! For my purposes, it would be enough.

However, take into account that PEP-526 states that declaring the type of a variable **without** an assignment is also possible. What for? In the case of loops, for example.

This is also possible, and currently not supported:
[code]
Or:
[code]
As I said, I don't use this - and can gladly wait for mypy to be updated. Just wanted to point it out.

[2017-02-04 22:07] sebnozzi commented on #281
This might be related to issues #264 and #276 ... ?

[2017-02-05 09:16] JdeH commented on #281
This requires operator overloading to be enabled.
You can do that globally with a command line switch,
but it's better to do it locally through the use of pragma's,
like in the code below:

[code]

which prints:

[code]

The reason to make operator overloading optional is found here:

`http://sterlicht.alwaysdata.net/transcrypt.org/docs/html/special_facilities.html#operator-overloading-pragma-opov

[2017-02-05 10:34] JdeH commented on #280
I've committed a fix for the "var annotation without assignment" case.

[2017-02-05 10:54] JdeH opened #282 "First static typing error skipped"
Waits for new version of mypy.
Also var annotations are not yet checked by this version of mypy.

[2017-02-05 11:12] sebnozzi commented on #281
Ok, thanks. Good to know.

While we are at it, is this also related to a feature having to be enabled?

[code]

On the JS Console:
[code]

Do I have to enable something in order for this to work?

Thanks in advance.

[2017-02-05 11:47] JdeH commented on #281
No, it isn't.
Currently dicts are just JS objects, so the following:

[code]

will generate

[code]

While it would be quite possible to support (1, 2) as key by adding __setitem__ and __getitem__ members to class dict and convert (1, 2) to key string '(1, 2)', this wasn't done because it would be slow and doesn't fit the way JS objects and attributes are used.

In the transition from JS5 to JS6 t

[2017-02-05 13:16] JdeH commented on #281
Added and committed

[2017-02-05 13:16] #281 closed

[2017-02-05 15:30] JdeH commented on #268
The stacktrace-style error reporting has been added and committed.

About the 'raise ImortError': Indeed import is resolved compile time, so unfortunately exceptions in it cannot be caught at runtime.

[2017-02-05 15:30] #268 closed

[2017-02-05 15:41] #282 closed

[2017-02-05 17:54] JdeH commented on #276
M2 @= M1 now translated to M2 = M2 @ M1

[2017-02-05 19:12] JdeH commented on #276
Operator **= added

[2017-02-05 19:12] #276 closed

[2017-02-05 19:33] boxed commented on #102
Yea, ok, "fundamentally broken" was bad phrasing on my part. I take it back. But it seems like unsupported stuff almost never results in an error message or a crash, but instead in invalid generated code. That's maybe a flaw in how you take a lot of small decisions.

For example, the bug what `@=` became `None=` suggests something like:

[code]

...and then not checking for None. Crashing is much

[2017-02-05 20:32] JdeH commented on #102
It's certainly important to have proper error reports.
While improvements are certainly possible (and will happen), the code may be more systematic than you anticipate (and looks a bit like you propose):

[code]

[code]

However optional operator overloading and things like array slices for numpy greatly complicate matters. I try to find a balance between adding features and regularly reorganizing

[2017-02-06 11:54] JdeH opened #283 "Add in-place overloading for @= **= %=, *=, /=, +=, -=, <<=, >>=, |=, ^="
Replace fallback to binary ops like __add__  to calling true in-place ops __iadd__.
This has the potential of speeding up matrix computations and reduce their memory requirements.

The number of overloaded operators will then be considerable, and in a later stage, the part of __builtin__ dealing with them should be included optionally, since many web developers will never use them.

[2017-02-06 12:13] JdeH commented on #276
True in-place overloads added for @=, **=, %=, *=, /=, +=, -=, <<=, >>=, |=, ^=
#283

[2017-02-06 12:13] JdeH commented on #283
Done & committed

[2017-02-06 12:13] #283 closed

[2017-02-06 12:21] JdeH commented on #264
Resolved and commited, see #283

[2017-02-06 12:21] #264 closed

[2017-02-07 20:10] ZenifiedFromI2P commented on #116
Hmm, I have two questions.

1. Is the new website gonna be OSS? I'd love to help.

2. What kind of exact help do you need, I'm very much willing to help..

Transcrypt saves me hoardes of time, I use it in my webapp. :smile:

[2017-02-08 06:40] AXGKl commented on #124
@JdeH

hi, I'm alive.

Next interesting conf - again here in munich:

https://www.papercall.io/pyconweb?mc_cid=8d23257436&mc_eid=61ec777d33

![screen shot 2017-02-08 at 07 32 30](https://cloud.githubusercontent.com/assets/9989548/22725967/ca7c65fc-edd0-11e6-855e-8a0188699adf.png)

I think it would make tons of sense to present transcrypt - but unfortunately this time I can't do it, I'm currently i

[2017-02-09 11:00] neriusmika opened #284 "+= problem"
After some recent update `+=` inside opov stopped working

[code]

is translated to:
[code]

and throws exception: `Uncaught SyntaxError: Unexpected token (`

[2017-02-09 12:19] JdeH commented on #284
Thanks!

Seems the autotest has a hole in it on this spot...

[2017-02-10 08:46] JdeH commented on #284
Fix  + autotest committed, not yet on pypi

[2017-02-10 08:46] #284 closed

[2017-02-10 08:55] mbrcw opened #285 "Import of __pragma__ stub results in exception"
I am trying to write some shared code between a django backend and a frontend written with transcrypt.

For that specific purpose i need some pragma enclosed code that runs both through transcrypt and the python in interpreter. For obvious reasons python needs a stub version for the `__pragma__` function, but because of the missing initialization of the source attribute it will result in an except

[2017-02-10 11:15] Tset-Noitamotua commented on #116
@ZenifiedFromI2P would you mind to link your webapp? ;-)

[2017-02-10 11:26] Tset-Noitamotua opened #286 "Will Transcrypt make the need to learn JavaScript obsolet?"
There is no way around JS when it comes to building cool web frontends, right? Will Transcrypt change that? Will it make the need to learn JS obsolet?

Just a naive thought of a noob: Putting all the efforts (tranpilers, transscripters, frameworks, etc. etc. ) to overcome JavaScripts,s ugliness together wouldn't it be easier to invent next gen browsers which ship with Python of the box? :D

Cheers

[2017-02-10 12:19] Tset-Noitamotua opened #287 "Vue (vuejs) examples? (ANY VUE EXPERT WILLING TO HELP?)"
Do you plan to provide some [Vue ](http://vuejs.org/) examples?

[2017-02-10 12:30] JdeH commented on #286
Hit Tset,

It would be great if next gen browsers would support Python natively.
Only I don't expect that to happen anytime soon.

You can build cool frontends with Transcrypt, don't need JS for that.
Still it's a good thing to master several languages.
Sometimes you need 5 lines of JS code to animate a page or use a JQ control
Transcrypt would be overkill in that case, so it's handy if you know s

[2017-02-10 12:30] #286 closed

[2017-02-10 12:32] JdeH commented on #287
Most examples of the use of frameworks are contributed by users.
If anyone contributes a good example, probably we'll include it in the distro.

KR
Jacques

[2017-02-10 12:39] JdeH commented on #116
Hi, I am curious about the webapp too.

About the site: it currently isn't OSS since it's based on a proprietary web server.
What it lacks currently is main good, real life examples of the use of Transcrypt.

Unfortunately the non-trivial projects I know are all closed source.
So if  anyone writes something publicly ascessible, we'd welcome a link!

Kind regards
Jacques

[2017-02-10 12:45] JdeH commented on #285
Hi,

Usually if I want to compile something both for CPython and Transcrypt I use

`transcrypt -r <sourcefile>`

in that way utils.commandArgs.source will be available, and you can import the stubs/browser module that comes with the distro.

However if all you want is get rid of the pragma's, probably that's overkill.
I wouldn't think it a big sin in that case to have your own little stubs module,

[2017-02-10 15:11] Tset-Noitamotua commented on #286
You have brought me to an idea: [prowser](https://github.com/prowser/prowser)  :smile: :smile: :smile:

[2017-02-11 09:14] JdeH commented on #286
Could get big...

[2017-02-12 18:00] hexation opened #288 "transcrypt -r autotest.py ImportError"
http://sterlicht.alwaysdata.net/transcrypt.org/docs/html/installation_use.html#installation
I followed all the instructions (virtualenv installation, pip installation, installation of transcrypt with virtualenv) till part 3 - run `transcrypt -r autotest.py`.
Then it gave me this error:

[code]
Previously I had had other errors like:
[code]
However I was able to use something like `pip install cons

[2017-02-12 18:33] hexation commented on #288
https://github.com/QQuick/Transcrypt/issues/103
I used the solution here - https://github.com/QQuick/Transcrypt/issues/103#issuecomment-242958627
No problem now.

[2017-02-12 18:33] #288 closed

[2017-02-12 19:49] hexation opened #289 ""Attempt to import module: builtins""
I followed all the instructions at http://sterlicht.alwaysdata.net/transcrypt.org/docs/html/installation_use.html up to 2.2; attempted to `transcrypt prob-break.py` (my own program), and received this error:
[code]

[2017-02-15 08:46] #285 closed

[2017-02-19 07:34] daboross opened #290 "Changed module globals are not reflected in module exports"
Consider the following code:

main:
[code]
moda:
[code]

In python, this results in `0`, `5` and `5` being printed. In transcrypt, `0`, 0`, `5` is printed. The value of the module-level variable was changed, but that change was not reflected in the exports.

Normally I wouldn't write any code like this, but I was accessing "private" module variables earlier today in an attempt to find a bug in my

[2017-02-19 12:33] JdeH commented on #290
I've no idea how hard it is to make this work...
Will look into it.

KR
Jacques

[2017-02-20 05:35] daboross commented on #290
Thanks! I'm thinking about this too.

I'm not even sure if I would expect there is a solution, just thinking that it's better to have an open issue (or documentation regarding it) than not.

[2017-02-20 23:20] PerryBhandal opened #291 "Feedback on some possible improvements (e.g. generate type def files from Typescript)"
(Excuse the title change, hit the Comment button too quickly...)

Here are a few ideas for improvements. I'm not sure which of them I'll pursue, but feedback would be welcome.

- Provide a translator for typescript definition files so that Python equivalents can be generated for use with static type checking tools and autocomplete. I'd likely implement this as a separate project and then provide s

[2017-02-21 07:39] geatec commented on #291
Hi

**On the first point:** That would mean that using libraries written in TypeScript would be able to be used from Transcrypt in a typesafe manner, if I understand you well. I think that would be very useful, since the number of TypeScript libs will probably grow strongly in the near future. There's even word of TypeScript typing becoming part of JavaScript, although I don't know if these rumors

[2017-02-21 07:43] JdeH opened #292 "Generate warnings for C-style string formatting (%d, %f etc.) and add to docs"
See issue #291

[2017-02-21 07:44] JdeH commented on #291
Sorry, I answered from my company account.
I've you'd like to work on the Typescript def file translator, let me know, then I'll assign it to you.

[2017-02-21 07:45] PerryBhandal commented on #291
Hi Jacques,
Appreciate the feedback.

Your interpretation of my first point is correct. I agree it could be quite useful, I'll begin looking into it and post a final outline once I have a clear picture of how it will be implemented.

[2017-02-21 08:25] JdeH commented on #289
I've been trying to understand what's happening here.

It seems like module `prob-break.py` tries to import a CPyhton module called `operator.py`, which in turn tries to import `builtins.py`. However, `builtins` isn't an ordinary module that can be imported from a .py file.

The point where it starts to go wrong is importing `operator.py` in the first place. Transcrypt mainly relies on JS librarie

[2017-02-21 08:26] PerryBhandal commented on #291
A few other pain points:

1) Adding support for the @property decorator. Am I correct in my understanding that is not currently supported? From what I can see you tend to use explicitly defined setter/getter methods and then reference them in a call to property(). I generally prefer to use the decorator approach.

2) In general, having an easy way to feed code into Transcrypt that lets me see wher

[2017-02-21 08:28] JdeH commented on #291
OK for now I'll assign it to you, but of course feel free to abandon. Just to prevent duplicate effort.

[2017-02-21 08:39] JdeH commented on #291
1. Support for `@property`. Indeed that wasn't added yet, mainly because I never use it myself. But that shouldn't be the sole criterion. So I'll add an issue for it as a "nice to have".

2. Better reports on things that aren't supported. This would require successful parsing, not necessarily successful code generation. Unfortunately not only the compiler, but in fact the CPython parser terminates

[2017-02-21 08:40] JdeH opened #293 "Obsolete"

[2017-02-21 08:55] PerryBhandal commented on #291
1) I'd be happy to give this a shot. It may be some time before I can make this modification as my sense is that the changes of it, while likely small, will require a reasonably detailed understanding of Transcrypt's code.

2) Valuable feedback. Thanks. For now I've written a regex to handle my \@property and string formatting issues. If in time I find that a regex approach is accurate enough to b

[2017-02-21 09:18] JdeH commented on #291
1. I'll assign that issue to you for now, again to prevent duplication of effort.
2. If the regex approach turns out to work rather good, I propose to add it as a compile time  option, just like lightweight consistency checks and static type checks.
3. Actually it would watch only IMPORTED files, since it would register whatever gets imported in a watch list. The directory approach, on the other h

[2017-02-21 09:28] JdeH commented on #291
Correction, I cannot assign the @property issue to you, since I created the issue and you're not part of the dev team yet. Could you yourself create a separate issue for @property, then I can assign you to it.

[2017-02-21 09:31] PerryBhandal opened #294 "Add @property decorator (in addition to 'regular' property mechanism already present)"
Add @property decorator (in addition to 'regular' property mechanism already present)

[2017-02-21 09:32] PerryBhandal commented on #291
Done. It's issue #294

Sounds good on both accounts.

Oh, good point. For now I won't address that as I already have a solution for directory watching so it doesn't warrant the effort. If I find I have time down the road (or if as I get to know the codebase better it ends up being an easy change) I'll bump this issue.

[2017-02-21 09:35] #293 closed

[2017-02-21 09:37] JdeH commented on #291
I can imagine that the directory watch is good enough in most practical cases.

[2017-02-22 01:19] PerryBhandal commented on #291
Hi Jacques,
Some further details on TS definitions after some research.

1) An accurate, reliable implementation of this will require parsing TypeScript's AST. An additional benefit of relying on an AST is that we could easily add support for auto completion (without type checking) for JS libraries that do not have an associated TS type file.

2) For the best user experience we'll need to rely on

[2017-02-22 06:14] PerryBhandal opened #295 "Pragmas in comments."
As far as I can tell there's no way to do a pragma in a comment. Is that correct?

My tests throw errors when I import any file that has a __pragma__ in it.  I'd prefer to avoid having to import it from the stubs library, particularly given how deep the import tree is for Transcrypt's core (or using some alternate hack like settings __pragma__ to a lambda at the top of each file). Something like t

[2017-02-22 07:49] JdeH commented on #295
In itself a good idea.
Requires intercepting the tokenizer, since comments aren't in the AST.
Will look into this.

[2017-02-22 08:17] JdeH commented on #291
Hi Perry,

I've annotatated your thoughts with some questions that came up in my mind:

An accurate, reliable implementation of this will require parsing TypeScript's AST. An additional benefit of relying on an AST is that we could easily add support for auto completion (without type checking) for JS libraries that do not have an associated TS type file.

For the best user experience we'll need to

[2017-02-22 11:20] JdeH commented on #295
Comment-like pragma's were added.
Note that they're required to follow indentation.
Since the tool coverage.py alreadyt uses `# pragma`, Transcrypt uses `# __pragma__` to avoid clashes.

Thanks for this clever, practical suggestion!

[2017-02-22 11:20] #295 closed

[2017-02-22 16:16] PerryBhandal commented on #291
I am referring to autocompletion "as an editor trick." Typescript has .d.ts files which just contain type information (e.g. https://raw.githubusercontent.com/DefinitelyTyped/DefinitelyTyped/master/jquery/index.d.ts). By relying on Typescript's AST library to convert that into equivalent Python definitions (as opposed to trying to do this by writing a basic parser that doesn't use Typescript's AST)

[2017-02-22 17:06] JdeH commented on #291
I am a "bare bones" developer:

- Never using a debugger
- Typing everything at speech speed with ten fingers, even if my editor has autocomplete it only annoys me and I switch it off.
- Roll my own unit test tools

I am aware that deviates quite a lot from the way many people develop.
To become a success it is very important to connect to the mainstream way of editing, developing, testing etc.
So

[2017-02-22 17:46] shaolo1 opened #297 "WebSocket requires new"
While trying to convert some javascript to python I got an error with new.  Is this supported?

Original javascript code...
[code]

Attempt at conversion to python...

[code]

Transpiler Version 3.6.4
Error encountered

socket = new WebSocket <SYNTAX FAULT] (socket_name, ['some_protocol'])

[2017-02-22 18:10] JdeH commented on #297
Yes, this is supported by a function (to match Python syntax):

def create_web_socket(socket_name):
    if window.WebSocket:
        socket = __new__ (WebSocket(socket_name, ['some_protocol']))
    elif window.MozWebSocket:
        socket = MozWebSocket(socket_name)
    else:
        socket = None
        print('WebSocket Not Supported')
    return socket

[2017-02-22 18:25] shaolo1 commented on #297
That is generating
	var socket = new (WebSocket (socket_name, list (['some_protocol'])));
Which still generates the error
	Constructor WebSocket requires 'new'

If I edit the generated code and remove the () it works
	var socket = new WebSocket (socket_name, list (['some_protocol']));

Both Firefox and Chromium are barking at this.

[2017-02-23 11:26] AndreiZavidei opened #298 "'Symbol.iterator' is not defined on some browsers"
Hi,

Transcrypt uses 'Symbol.iterator' when it generates code for Python dict implementation:

**Javascript code:**
`__setProperty__ (instance, Symbol.iterator, {value: function () {new __JsIterator__ (this.py_keys ());}, enumerable: false});`

On some native mobile browsers (e.g. tested on Galaxy S4 mini) 'Symbol' is not defined as built-in JS object and code above gives TypeError.

My question i

[2017-02-23 13:18] JdeH commented on #298
Hi, an experimental fix has been commited for this, namely the --ext_noiter / -xni switch.
As I don't have a suitable browser myself, I've no idea if this actually covers all relevant occurences of Symbol.iterator.

Note that JS6 support and, in general, iterator support will be absent in the generated code.

[2017-02-23 17:53] shaolo1 opened #299 "JSON iteration problem"
I can't seem to figure out how to iterate over this JSON with transcrypted python.  The orginal python works as does the original javascript.  Both print the expected
5 10
3 20
... (sometimes in a different order, but that is understood and not a problem).
I tried multiple versions of iteration.  Those lines are commented out with the issues.

Original python

[code]
Original javascript

[code]
At

[2017-02-24 02:43] fzzylogic commented on #299
With Transcrypt, you can't iterate dicts by default using 'for i in dict:', without enabling that (cmd line -i or __pragma__('iconv'), but you can avoid having to enable it by just using the keys() member e.g.:

for key, value in dict.items():
    # do things for each key and value..

Section 3.9 of [the docs](http://sterlicht.alwaysdata.net/transcrypt.org/docs/html/special_facilities.html) explai

[2017-02-24 03:03] shaolo1 commented on #299
for num, v in foos.items():  # this gets no py_items error

[2017-02-24 04:01] fzzylogic commented on #299
One needs to do this:
`    foos = dict(JSON.parse(json_text))`

Not sure why. And also it has to be foos.items() (including the brackets)

So:
[code]

[2017-02-24 06:06] shaolo1 commented on #299
Wrapping the return from JSON.parse() in a dict() does indeed allow the code to work with .items(), but it seems like there is an unnecessary extra level of work.  The native javascript works just fine with the return from JSON.parse().  Is this by design or something is being missed somewhere?

Thanks for the workaround though!

[2017-03-04 11:19] AndreiZavidei commented on #298
Hi,

Sorry for late reply.
My Samsung s4 mini not always connects to remote debugger. So I could not see the console output, but I tested the fix, unfortunately, it did not help (or maybe some other problem appeared).
Please give me some time, I will investigate if problem can be solved with 'core-js' package. Maybe your fix won't be necessary.

Thanks!

[2017-03-05 12:53] JdeH commented on #298
OK,

Thanks for the effort, keep me informed.

KR
Jacques

[2017-03-06 06:59] JdeH commented on #298
I'll close this for now, since it is probably not going to be solved in Transcrypt itself. But I am still curious if the workaround with core-js solves this backward compatibility problem.

[2017-03-06 07:30] JdeH commented on #299
Whereas something like {'aKey', 'aValue'} will automatically translate to a dict literal,
JSON.parse returns a pure JS object.

While the workaround is OK, another way out of this would be to port Python's json module, have its json.loads return a dict.

[2017-03-06 08:20] #297 closed

[2017-03-06 08:21] #289 closed

[2017-03-06 16:26] lbell opened #300 "Autotest.html error: Uncaught ReferenceError: complex is not defined"
Setting up Transcryt, and after following the solutions found here https://github.com/QQuick/Transcrypt/issues/103#issuecomment-242958627 I successfully ran
[code]
Results:

[code]
However, when I open the generated autotest.html file, I get a page with the table headings, no info, and an error in the consul:

![transcrypt_consol](https://cloud.githubusercontent.com/assets/1029014/23618713/6b0fd5d

[2017-03-06 18:01] JdeH commented on #300
Hi,

The autotest contains also tests for complex numbers which need the -c switch.

Use:

transcrypt -r -c autotest.py
transcrypt -b -c -da autotest.py

The -da is to activate assertions, which are also tested.
Let me know if adding these switches works for you.

Kind regards
Jacques

[2017-03-13 13:53] #300 closed

[2017-03-13 13:53] #299 closed

[2017-03-23 22:49] Levtastic opened #301 "zip() seems to be broken"
I've got the code
[code]

When built and run, the `zip()` code throws the error `Uncaught TypeError: shortest.map is not a function`
It claims this error is happening at `__builtin__.mod.js:526` but I can't find the code it's talking about there.

[2017-03-23 22:53] Levtastic opened #302 "string and list multiplication creates NaN"
In python, `'a'*5` creates `'aaaaa'`, and `['a']*5` creates `['a', 'a', 'a', 'a', 'a']`, but in transpiled code both of these examples create `NaN` which is quite a surprising difference between the base language behavior of python and javascript.

I imagine this might be something quite difficult to correct, since it only has special behaviour depending on the objects being multiplied, but I'm st

[2017-03-23 22:57] Levtastic commented on #302
Found the previous issue on this - my apologies

[2017-03-23 22:57] #302 closed

[2017-03-24 02:12] punkdit opened #303 "Python interpreter layer"
I've had a somewhat curious idea that I'd like to share...

A number of people have commented on the lack of various python features in transcrypt, such as % string formatting. However, it is clear that Jacques has a specific direction for transcrypt that involves being small and fast, and so this excludes the addition of these features. On top of this, there are "semantic" issues, such as the emp

[2017-03-24 06:22] JdeH commented on #303
Hi

Features missing:

- Empty list being true: This can be altered with the "tconv" switch or pragma

http://sterlicht.alwaysdata.net/transcrypt.org/docs/html/special_facilities.html#automatic-conversion-to-truth-value-pragma-tconv-and-pragma-notconv

- % formatting not supported: A similar solution may be choosen, but it didn't seem urgent due to presence of the `format` string method. However t

[2017-03-24 06:26] JdeH commented on #302
Indeed, there's a switch and a pragma ('opov') to achieve 'pure Python behaviour' for this:

http://sterlicht.alwaysdata.net/transcrypt.org/docs/html/special_facilities.html#operator-overloading-pragma-opov-and-pragma-noopov

[2017-03-24 11:01] mbrcw opened #304 "Invalid JS when using --opov useflag"
I get the following run time javascript error when running a simple helloworld python example transpiled with the -o/--opov useflag.
[code]
The following main2.py file was transpiled with the following command:
`> transcrypt --opov main2.py`

main2.py contains the following:
[code]
For completeness:

[code]
It has been tested in the newest versions of firefox and chrome under linux(Ubuntu 16.04)

[2017-03-25 02:56] punkdit commented on #303
I appreciate what you are doing, and am not wanting to argue with you about the direction of transcrypt. But, as I said above, I don't agree that all this pragma stuff is "covering" python. It is another language you are building, even though it is embedded in the python syntax.

I would hope that a smaller/lighter vm could be built on transcrypt (it's lean and fast, right?) than pypy.js which is